<div class="wrap-updatings-board">
    <div class="m-container">
        <div class="wrap-updatings">
            <p class="board-title">
                <strong>לוח עדכונים</strong>
                כאן תוכל לראות עדכונים שעשויים לעניין אותך לפי חיפושים קודמים</p>

            <div class="wrap-group">
                <updating *ngFor="let updating of pinnedItems" [item]="updating" [user]="user"
                (onTogglePinning)="togglePinning($event)"></updating>
            </div>
            <div class="wrap-group">
                <updating *ngFor="let updating of notPinnedItems" [item]="updating" [user]="user"
                (onTogglePinning)="togglePinning($event)"></updating>
            </div>

            <div *ngIf="isUserConnected&&(updatings==null||updatings.length==0)" class="emptyList">
                <mat-icon>tag_faces</mat-icon>
                <p>- לא קיימים עדכונים חדשים -</p>
            </div>

            <div *ngIf="!isUserConnected" class="notConnected">
                <mat-icon>tag_faces</mat-icon>
                <span>שלום לך, ממליצים להתחבר לאתר!</span>
            </div>

            <div class="footer-updatings-board">
                <p><strong>לוח העדכונים מתעדכן</strong> והתוכן בו משתנה.<br>
                אם תרצה לשמור עדכון מסויים, תוכל לנעוץ אותו ב'נעץ' שבצד שמאל למעלה של הפריט.</p>
                <p><button mat-icon-button><mat-icon>add</mat-icon></button>הוסף פריט לרשימת ה'נעוצים'</p>
            </div>
        </div>
    </div>
</div>