.wrap-container-content {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
}

side {
    grid-area: 1 / 1 / 2 / 5;
}

main {
    grid-area: 1 / 5 / 2 / 16;
}

@media only screen and (max-width: 1500px) {
    side {
        grid-area: 1 / 1 / 2 / 6;
    }
    
    main {
        grid-area: 1 / 6 / 2 / 16;
    }
}

@media only screen and (max-width: 1050px) {
    side {
        display: none;
    }
    
    main {
        grid-area: 1 / 1 / 2 / 16;
    }
}