<div class="wrap-priv-main">
    <p class="title-section">הפלייליסטים שלי >></p>
    <div class="wrap-folder" *ngFor="let playlist of playlists">
        
    <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <!-- <mat-panel-title> -->
              <playlist-folder [name]="playlist.name" [date]="playlist.date" (click)="h(playlist)"></playlist-folder>
            <!-- </mat-panel-title> -->
            <!-- <mat-panel-description>
              This is a summary of the content
            </mat-panel-description> -->
          </mat-expansion-panel-header>
          <p *ngFor="let song of stpObj[playlists.indexOf(playlist)].songs">{{song.songId}}</p>
        </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>