<div class="wrap-priv-main">
    <p class="title-section">הפלייליסטים שלי >></p>
    <div class="wrap-folder" *ngFor="let playlist of playlists">
        
    <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <!-- <mat-panel-title> -->
              <playlist-folder [name]="playlist.name" [date]="playlist.date" [id]="playlist.id"(playlist)="movePlaylist($event)" (click)="h(playlist)"></playlist-folder>
            <!-- </mat-panel-title> -->
            <!-- <mat-panel-description>
              This is a summary of the content
            </mat-panel-description> -->
          </mat-expansion-panel-header>
          <div class="wrap-song" *ngFor="let song of stpObj[playlists.indexOf(playlist)].songs"  (click)="toggle(song)">
            <div class="img" [style.background-image]="'url(../../assets/images/'+song.image_location+')'"></div>
            <div class="details"><strong>{{song.name}}</strong><span>{{song.singerName}}</span></div>
            <button mat-icon-button *ngIf="playingSongId!=song.id" (click)="playingSongId=song.id" ><mat-icon>play_circle_fill</mat-icon></button>
            <button mat-mini-fab *ngIf="playingSongId==song.id" (click)="playingSongId=(-1)"><mat-icon>pause</mat-icon></button>
          </div>
        </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>