<div class="wrap-commit-details">
    <!-- <p>
        <b>{{commit.name}}</b>
        <span> מגיב על </span>
        <span *ngIf="commit.type=='song'"> :שיר </span>
        <span *ngIf="commit.type=='article'"> :כתבה </span>
        <span>{{topicName}}</span>
    </p>
    <p>{{commit.content_res}}</p>
    <button *ngIf="commit.tested==false||null" (click)="onNoClick(true)">אשר תגובה</button>
    <button *ngIf="commit.tested==true" (click)="onNoClick(false)">בטל אישור לתגובה</button>
    <button (click)="onNoClick()">סגור</button> -->
    <mat-icon [class.opacity]="commit.tested==false||commit.tested==null" (click)="changeSigning(commit,commit.tested==true?false:true,false)">check</mat-icon>
    <!-- <p class="title"><strong>{{commit.name}}</strong> מגיב על <strong>{{commit.topic}}</strong></p> -->
    <p class="title">{{commit.name}}</p>
    <p class="commit-content">
        <strong>{{commit.title_res}}</strong><br> {{commit.content_res}}
    </p>
    <!-- <div class="conact-details">
        <p><mat-icon>email</mat-icon>{{report.mail}}</p>
        <p><mat-icon>phone</mat-icon>{{report.phone}}</p>
    </div> -->
    <div class="topic">
        <p>
            <mat-icon>{{commit.type=='article'?'queue_music':'headset'}}</mat-icon>{{commit.topic}}</p>
    </div>
    <div class="actions">
        <button mat-flat-button color="warn" (click)="changeSigning(commit,commit.tested==true?false:true)">{{commit.tested?'בטל אישור תגובה':'אשר תגובה'}}</button>
        <button mat-stroked-button (click)="onNoClick()">סגור</button>
    </div>
</div>