.wrap-reports {
    border: solid 1px #00000024;
    border-radius: 10px;
    padding: 20px 30px;
}

.wrap-report {
    border: solid 1px #00000024;
    border-radius: 10px;
    padding: 12px;
    font-family: assistant;
    display: grid;
    height: 230px;
    grid-template-rows: fit-content(40%) fit-content(40%) auto;
    cursor: pointer;
}

.wrap-report > mat-icon {
    margin-right: auto;
    color: #00000047;
    cursor: pointer;
}

.wrap-report > p {
    padding-bottom: 10px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-align: center;
    border-bottom: solid 1px #00000024;
    margin-bottom: 10px;
}

.wrap-report > span {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    height: 102px;
}

.wrap-report > div {
    color: #00000080;
    padding-top: 10px;
    text-align: center;
}

.wrap-not-treated, .wrap-in-treatment, .wrap-treated {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 35px;
    min-height: 230px;
    margin-bottom: 70px;
}

.wrap-treated {
    margin-block: 30px 0 !important;
}

.wrap-in-treatment .wrap-report > mat-icon,
.wrap-treated .wrap-report > mat-icon {
    opacity: 0;
    transition: .4s;
}

.wrap-in-treatment .wrap-report > mat-icon:hover,
.wrap-treated .wrap-report > mat-icon:hover {
    opacity: 1;
}

.section-title {
    grid-column: 1 / 4;
    font-family: assistant;
    padding: 10px;
    border-bottom: solid 1px #00000024;
    height: fit-content;
    font-size: 17px;
}

.emptyList {
    grid-column: 1 / 4;
    text-align: center;
    height: fit-content;
    font-family: assistant;
    font-size: 17px;
}

.emptyList > mat-icon {
    font-size: 36px;
    width: fit-content;
    height: fit-content;
    margin-bottom: 10px;
    color: #313131;
}

.wrap-reports > button {
    font-family: assistant;
    font-size: 17px;
    padding: 2px 15px;
    margin-inline: auto;
    font-weight: 400;
    width: 100%;
    background-color: whitesmoke;
}