<div class="wrap-reports">
    
    <p class="title">לוח דיווחים</p>
    <p class="explaination"><strong>לוח הדיווחים מחולק לדיווחים שלא נקראו, דיווחים בטיפול ושטופלו.</strong><br>
        על מנת לסמן דיווח כ'לא נקרא', ניתן לנעוץ אותו בנעץ שבצידו השמאלי העליון של הדיווח<br>
        ובכדי לסמן דיווח כדיווח שטופל תוכל לבחור ב'טופל' בעת פתיחת הדיווח.</p>
    
    <div class="wrap-not-treated">
        <p class="section-title">דיווחים שלא נקראו</p>
        <div class="wrap-report" *ngFor="let report of reports_pre" (click)="openReportDetailsDialog(report)">
            <mat-icon
                (click)="$event.stopPropagation();openMessageDialog('האם אתה בטוח שברצונך לשנות את סטטוס הדיווח לטופל?',report);">
                push_pin</mat-icon>
            <p>{{report.name}}</p>
            <span>{{report.message}}</span>
            <div><span>{{report.date | date: 'dd/MM/yyyy H:mm'}}</span></div>
        </div>
        <div class="emptyList" *ngIf="reports_pre.length==0">
            <mat-icon>tag_faces</mat-icon>
            <p>- לא קיימים דיווחים שלא נקראו -</p>
        </div>
    </div>

    <div class="wrap-in-treatment">
        <p class="section-title">דיווחים בטיפול</p>
        <div class="wrap-report" *ngFor="let report of reports_in" (click)="openReportDetailsDialog(report)">
            <mat-icon (click)="$event.stopPropagation();updateStatus(report, 1);">push_pin</mat-icon>
            <p>{{report.name}}</p>
            <span>{{report.message}}</span>
            <div><span>{{report.date | date: 'dd/MM/yyyy H:mm'}}</span></div>
        </div>
        <div class="emptyList" *ngIf="reports_in.length==0">
            <mat-icon>tag_faces</mat-icon>
            <p>- לא קיימים דיווחים בטיפול -</p>
        </div>
    </div>

    <button mat-flat-button *ngIf="!isShowTreated" (click)="isShowTreated=true">הצג דיווחים שטופלו</button>
    <button mat-flat-button *ngIf="isShowTreated" (click)="isShowTreated=false">הסתר דיווחים שטופלו</button>

    <div class="wrap-treated" *ngIf="isShowTreated">
        <p class="section-title">דיווחים שטופלו</p>
        <div class="wrap-report" *ngFor="let report of reports_post" (click)="openReportDetailsDialog(report)">
            <mat-icon (click)="$event.stopPropagation();updateStatus(report, 1);">push_pin</mat-icon>
            <p>{{report.name}}</p>
            <span>{{report.message}}</span>
            <div><span>{{report.date | date: 'dd/MM/yyyy H:mm'}}</span></div>
        </div>
        <div class="emptyList" *ngIf="reports_post.length==0">
            <mat-icon>tag_faces</mat-icon>
            <p>- לא קיימים דיווחים שטופלו -</p>
        </div>
    </div>

</div>