/* .wrap-reports {
    width: 60vw;
    margin-inline: auto;
    padding: 30px 40px;
}

.report {
    display: grid;
    grid-template-columns: auto 160px 70px 120px;
    border: solid 1px #00000024;
    border-radius: 4px;
    padding-inline: 25px 10px;
    padding-block: 5px;
    font-family: assistant;
    font-size: 17px;
    margin-block: 10px;
    cursor: pointer;
    align-items: center;
}

.report > span {
    font-size: 16px;
    color: #0000008f;
}

.report:hover {
    background-color: #49a8f41a !important;
    box-shadow: 0px 2px 6px #0000001c;
}

.report.untreated {
    background-color: #49a8f429;
    border-color: #49a8f48c;
    border-width: 1px;

    background-color: #0000000d;
}

.report.active {
    border-color: #49a8f48c;
    border-width: 3px;

    border-color: #2196f3;
    background-color: #2196f30f;
}

mat-checkbox {
    margin-inline: auto;
}

.progress {
    width: 100px;
    height: 14px;
    border: solid 1px #00000040;
    background-color: white;
    margin-left: 20px;
    border-radius: 50px;
}

.in-treat .progress {
    background-image: linear-gradient(45deg, #2196f3 25%,
     #e6e6e6 25%, #e6e6e6 50%, #2196f3 50%,
      #2196f3 75%, #e6e6e6 75%, #e6e6e6 100%);
    background-size: 14.14px 14.14px;
}

.treated .progress {
    background-color: #2196f3;
}

.report-details {
    padding: 15px;
    font-family: assistant;
    font-size: 18px;
    line-height: 30px;
    border: solid 1px #00000024;
    border-radius: 4px;
}

.report-details > p {
    background-color: #e6e6e6;
    padding: 5px 25px;
    font-style: oblique;
    color: #151515;
    border-radius: 4px;
}

.report-content {
    padding: 15px 15px 5px 15px;
}

.action-buttons {
    text-align: left;
}

.action-buttons > button {
    margin-right: 16px;
    padding: 5px 20px;
    font-family: assistant;
    font-size: 16px;
    font-weight: 400;
}

.action-buttons > button mat-icon {
    margin-left: 8px;
}

.report-content > span.contact-details {
    display: block;
    color: #737373;
    margin-top: 30px;
} */
.wrap-reports {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 35px;
}

.wrap-report {
    border: solid 1px #00000024;
    border-radius: 10px;
    padding: 12px;
    font-family: assistant;
    display: grid;
    height: 230px;
    grid-template-rows: fit-content(40%) fit-content(40%) auto;
    cursor: pointer;
}

.wrap-report > mat-icon {
    margin-right: auto;
    color: #00000047;
}

.wrap-report > p {
    padding-bottom: 10px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-align: center;
    border-bottom: solid 1px #00000024;
    margin-bottom: 10px;
}

.wrap-report > span {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    height: 102px;
}

.wrap-report > div {
    color: #00000080;
    padding-top: 10px;
    text-align: center;
}