mat-divider {
  padding: 6px 0;
}

mat-accordion > span {
  line-height: 40px;
  font-weight: 300;
  font-family: assistant;
  font-size: 18.5px;
}

p {
  white-space: pre-wrap;
  line-height: 30px;
}