.wrap-priv-info {
    width: 400px;
}

.status-user {
    font-family: fb Joker;
    font-size: 21px;
}

.status-user p {
    line-height: 45px;
    padding: 5px 20px;
    background-color: whitesmoke;
    margin: 10px 0;
    cursor: pointer;
    margin: 20px 0;
}

button.mat-flat-button {
    width: 100%;
    background-color: tomato;
    font-family: fb Joker;
    font-size: 19px;
    color: white;
    padding: 3px 0;
}