<div class="wrap-adding-playlist">
    <p class="title-section">הוספת פלייליסט >></p>
    <form [formGroup]="playlistAddingForm" (ngSubmit)="onSubmit()">
        <!-- name -->
        <mat-form-field appearance="fill">
            <input matInput placeholder="שם פלייליסט" formControlName="name" required minlength="3">
            <mat-error *ngIf="playlistAddingForm.controls.name.invalid">{{getNameErrorMessage()}}</mat-error>
        </mat-form-field>
        <!-- title -->
        <mat-form-field appearance="fill">
            <input matInput placeholder="כותרת" formControlName="title" required minlength="3">
            <mat-error *ngIf="playlistAddingForm.controls.title.invalid">{{getTitleErrorMessage()}}</mat-error>
        </mat-form-field>
        <!-- image -->
        <uploading-image (onSelect)="selectImage($event)" [image]="image"></uploading-image>
        <!-- adding a song -->
        <mat-form-field appearance="fill">
            <mat-label>הוספת שירים</mat-label>
            <mat-select formControlName="songs" multiple>
              <mat-option *ngFor="let song of songsList" [value]="song.name">{{song.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        <!-- upload button -->
        <button *ngIf="isEdit==false" mat-stroked-button type="submit"><mat-icon>playlist_add</mat-icon>הוספה</button>
        <!-- selecting a playlist -->
        <mat-form-field appearance="fill" *ngIf="isEdit==true">
            <mat-label>בחר פלייליסט</mat-label>
            <input id="playlist-selecting" type="text" matInput [formControl]="playlistControl" [matAutocomplete]="autoPlaylist">
            <mat-icon matPrefix>arrow_drop_down</mat-icon>
            <mat-autocomplete autoActiveFirstOption #autoPlaylist="matAutocomplete" (optionSelected)="onSelectionChange($event)">
                <mat-option *ngFor="let playlist of playlists" [value]="playlist.name">
                    <p>{{playlist.name}}</p>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <!-- edit playlist button -->
        <button mat-stroked-button (click)="isEdit=true;enteringValues();"><mat-icon>edit</mat-icon>עריכת פלייליסט</button>
        <div class="wrap-buttons" *ngIf="isEdit==true">
            <!-- confirm playlist button -->
            <button mat-stroked-button (click)="openMessageDialog('האם אתה בטוח שברצונך לשמור את השינויים?')"><mat-icon>check</mat-icon>שמור שינויים</button>
            <!-- cancel editing button -->
            <button mat-stroked-button (click)="isEdit=false;reset();"><mat-icon>cancel</mat-icon>בטל</button>
        </div>
    </form>
</div>