.all-songs {
    display: grid;
}

.wrap-songs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px 17vw;
}

.wrap-song {
    display: inline-block;
    flex: 0 1 calc(33% - 25px);
    margin: 25px 0;
}

button.reloadMore {
    margin: 0 auto 50px;
    font-family: fb Joker;
    font-size: 21px;
    background: #fbc02d;
    color: white;
    padding: 7px 35px;
}

mat-spinner {
    height: 20px !important;
    width: 20px !important;
    margin-left: 10px;
    display: none;
}

.loading mat-spinner {
    display: inline-block !important;
}

div.empty {
    display: none;
}

.wrap-tool-box {
    margin: 0 19vw;
}