.wrap-latest-commits {
    padding: 80px 41px 0;
    max-width: 570px;
    width: 570px;
    height: 100%;
}

p.title-part {
    margin-bottom: 38px;
    font-family: fb Joker;
    font-weight: 100;
}

a p {
    color: white;
    font-family: fb Joker;
    font-size: 21px;
    margin: 15px 0;
    cursor: pointer;
    transition: .4s;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    padding: 4px 6px;
    height: fit-content;
    line-height: 35px;
}

a p:hover {
    background-color: #f0f8ff0d;
}

span {
    color: #2196f3a8;
    font-style: italic;
    margin-right: 5px;
}

mat-divider {
    border-top-color: #ffffff1f;
}