.wrap-container-player {
    width: 100%;
    direction: rtl;
    display: grid;
    grid-template-columns: fit-content(40%) auto fit-content(40%);
    padding: 0 5px;
    background-color: #2c8dfb6e;
}

.wrap-container-player .mat-icon {
    margin-top: auto;
    margin-bottom: auto;
}