.wrap-custom-tool-bar {
    position: fixed;
    width: 100vw;
    top: 0;
    right: 0;
    background-color: white;
    z-index: 999;
    direction: ltr;
    padding: 25px 5vw;
    border-bottom: solid 1px #dadada;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.1),
                0px 6px 10px 0px rgba(0, 0, 0, 0.04),
                0px 1px 18px 0px rgba(0, 0, 0, 0.02);
    display: flex;
    align-items: baseline;
}

mat-menu span {
    margin-left: 15px;
}