<div class="wrap-dialog">
    <h1 mat-dialog-title>הרשמה לניוזלטר</h1>
    <div mat-dialog-content>
        <p>גם אני רוצה להתעדכן בחדשות המוזיקה אונליין</p>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

            <mat-form-field appearance="fill">
                <input matInput placeholder="example@gmail.com" formControlName="email">
                <mat-error *ngIf="responseForm.controls.email.invalid">{{getMailErrorMessage()}}</mat-error>
            </mat-form-field>

            <div mat-dialog-actions>
                <button mat-stroked-button color="warn">בטל</button>
                <button mat-flat-button color="warn" type="submit">הירשם</button>
            </div>

        </form>
    </div>
</div>