<div class="wrap-activation-parade">
    <p class="title-section">ניהול מצעד >></p>
    <form [formGroup]="activationParadeForm" (ngSubmit)="onSubmit()">
        <!-- activate button -->
        <button mat-stroked-button><mat-icon>slideshow</mat-icon>הפעל מצעד</button>
        <!-- image -->
        <uploading-image (onSelect)="selectImage($event)"></uploading-image>
        <!-- year -->
        <mat-form-field appearance="fill">
            <input matInput placeholder="בחירת שנה">
        </mat-form-field>
        <!-- songs selection -->
        <mat-form-field appearance="fill">
            <mat-label>בחירת שירים</mat-label>
            <mat-select formControlName="songs" multiple>
                <mat-option *ngFor="let song of songs" [value]="song.name">{{song.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="activationParadeForm.controls.songs.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <!-- singers selections -->
        <mat-form-field appearance="fill">
            <mat-label>בחירת זמרים</mat-label>
            <mat-select formControlName="singers" multiple>
                <mat-option *ngFor="let singer of singers" [value]="singer.name">{{singer.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="activationParadeForm.controls.singers.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <!-- submit button -->
        <button mat-stroked-button type="submit"><mat-icon>check_circle</mat-icon>אשר שינויים</button>
    </form>
</div>