<div class="wrap-uploading-article">
    <!-- <mini-title text="העלאת כתבה"></mini-title> -->
    <form class="grid-form-2-columns" [formGroup]="uploadingArticleForm" (ngSubmit)="onSubmit()">
        <!-- title -->
        <mat-form-field appearance="fill">
            <input matInput placeholder="כותרת" formControlName="title" required minlength="3">
            <mat-error *ngIf="uploadingArticleForm.controls.title.invalid">{{getTitleErrorMessage()}}</mat-error>
        </mat-form-field>
        <!-- subtitle -->
        <mat-form-field appearance="fill">
            <input matInput placeholder="כותרת משנה" formControlName="subtitle" required minlength="3">
            <mat-error *ngIf="uploadingArticleForm.controls.subtitle.invalid">{{getSubtitleErrorMessage()}}</mat-error>
        </mat-form-field>
        <!-- image -->
        <uploading-image (onSelect)="selectImage($event)"></uploading-image>
        <!-- singer -->
        <mat-form-field appearance="fill">
            <mat-label>בחירת זמרים</mat-label>
            <mat-select formControlName="singers" multiple>
                <mat-option *ngFor="let singer of singers" [value]="singer.name">{{singer.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <!-- tags -->
        <mat-form-field appearance="fill">
            <mat-label>בחירת תגיות</mat-label>
            <mat-select formControlName="tags" multiple>
                <mat-option *ngFor="let tag of tags" [value]="tag.name">{{tag.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <!-- artists -->
        <mat-form-field appearance="fill">
            <mat-label>בחירת אומנים</mat-label>
            <mat-select formControlName="artists" multiple>
                <mat-option *ngFor="let artist of artists" [value]="artist.name">{{artist.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <!-- content -->
        <!-- <editor></editor> -->
        <text-editor></text-editor>
        <!-- upload button -->
        <button mat-stroked-button type="submit">
            <mat-icon>publish</mat-icon>העלאה
        </button>
    </form>
</div>