.vs/
/ServerMusicBSD/TryCode
*.mp3
*.mp4
*.txt
frontendBsd/src/assets/images/singers/עוזיה-צדוק.jpg
frontendBsd/src/assets/images/singers/נפתלי-קמפה.jpg
frontendBsd/src/assets/images/singers/נמואל-הרוש.jpeg
frontendBsd/src/assets/images/singers/משה-קליין.jpg
frontendBsd/src/assets/images/singers/מרדכי-שפירא.png
frontendBsd/src/assets/images/singers/מרדכי-בן-דוד.jpg
frontendBsd/src/assets/images/singers/מנדי-גרופי.jpg
frontendBsd/src/assets/images/singers/מוטי-שטיינמץ.jpg
frontendBsd/src/assets/images/singers/מאיר-גרין.jpg
frontendBsd/src/assets/images/singers/ישי-ריבו.jpg
frontendBsd/src/assets/images/singers/ישי-לפידות.jpg
frontendBsd/src/assets/images/singers/יעקב-שוואקי.jpg
frontendBsd/src/assets/images/singers/יוסף-חיים-שוואקי.jpg
frontendBsd/src/assets/images/singers/יוסי-גרין.jpg
frontendBsd/src/assets/images/singers/יונתן-שיינפלד.jpg
frontendBsd/src/assets/images/singers/מאיר-מסוארי.jpg
frontendBsd/src/assets/images/singers/יונתן-רזאל.jpg
frontendBsd/src/assets/images/singers/יובל-טייב.jpg
frontendBsd/src/assets/images/singers/חיים-ישראל.jpg
frontendBsd/src/assets/images/singers/הקינדרלעך.jpg
frontendBsd/src/assets/images/singers/גד-אלבז.jpg
frontendBsd/src/assets/images/singers/בערי-וובר.jpg
frontendBsd/src/assets/images/singers/בני-פרידמן.png
frontendBsd/src/assets/images/singers/אריק-דביר.jpg
frontendBsd/src/assets/images/singers/אלעד-שער.jpg
frontendBsd/src/assets/images/singers/אלי-פרידמן.jpg
frontendBsd/src/assets/images/singers/אלי-הרצליך.jpg
frontendBsd/src/assets/images/singers/איציק-דדיה.jpg
frontendBsd/src/assets/images/singers/איציק-אשל.jpg
frontendBsd/src/assets/images/singers/איציק-אורלב.jpg
frontendBsd/src/assets/images/singers/אייל-טויטו.jpg
frontendBsd/src/assets/images/singers/אוהד-מושקוביץ.jpg
frontendBsd/src/assets/images/singers/אודי-דמארי.jpg
frontendBsd/src/assets/images/singers/אהרן-רזאל.jpeg
frontendBsd/src/assets/images/singers/אברהם-פריד.bmp
frontendBsd/src/assets/images/singers/אבישי-אשל.jpeg
frontendBsd/src/assets/images/singers/אבי-מן.jpg
frontendBsd/src/assets/images/singers/אבי-אילסון.jpg
frontendBsd/src/assets/images/singers/Yoel_dikman.1.jpg
frontendBsd/src/assets/images/singers/Yaniv_ben_mashich.jpg
frontendBsd/src/assets/images/singers/Lipa.jpg
frontendBsd/src/assets/images/for_topics/piano-keys-made-with-black-white-paper-yellow-backdrop_23-2147926855.jpg
frontendBsd/src/assets/images/for_topics/magazines2.png
frontendBsd/src/assets/images/for_topics/3782176.jpg
frontendBsd/src/assets/images/singers/מידד-טסה.jpg
frontendBsd/src/assets/images/for_songs/שמחה-פרידמן/שמחה-פרידמן-עוד-יבוא-היום.jpg
frontendBsd/src/assets/images/for_songs/שמחה-פרידמן/שמחה-פרידמן-חתן-כלה.jpg
frontendBsd/src/assets/images/for_songs/שמחה-פרידמן/שמחה-פרידמן-לא-לפחד.jpg
frontendBsd/src/assets/images/for_songs/שמחה-פרידמן/שמחה-פרידמן-בקרוב.jpg
frontendBsd/src/assets/images/singers/עמירן-דביר.jpg
frontendBsd/src/assets/images/for_songs/שמחה-פרידמן/נשמה-שמחה-פרידמן.jpg
frontendBsd/src/assets/images/for_songs/שלום-ברנהולץ/הזמן-של-השמחה.png
frontendBsd/src/assets/images/for_songs/שלום-ברנהולץ/אתה-קרוב.jpg
frontendBsd/src/assets/images/for_songs/קובי-ברומר/‏‏כמה-טוב-ה.PNG
frontendBsd/src/assets/images/for_songs/נפתלי-קמפה/עמך-עמי.jpg
frontendBsd/src/assets/images/for_songs/משה-קליין/נס.jpg
frontendBsd/src/assets/images/for_songs/משה-קליין/ברכו-את-ה.jpg
frontendBsd/src/assets/images/for_songs/מרדכי-שפירא/הכל-משמים.PNG
*.PNG
*.jpg
*.jpeg
ServerMusicBSD/DAL/App.Config
ServerMusicBSD/ServerMusicBSD/Web.config
ServerMusicBSD/DAL/App.Config
ServerMusicBSD/ServerMusicBSD/Web.config
