.wrap-content-management {
    display: grid;
    /* grid-template-columns: 20vw fit-content(40%) auto; */
    padding-inline: 10vw;
    grid-column-gap: 4vw;
}

.wrap-actions {
    text-align: center;
    padding-block: 15px;
    border-block: solid 1px #00000024;
    margin-inline: 6vw;

}

.wrap-actions > button {
    font-family: assistant;
    font-size: 19px;
    margin: 10px;
    font-weight: 400;
    color: #00000061;
}

.wrap-actions > button.active {
    color: tomato;
}

.wrap-content {
    padding: 80px 17vw;
}

.wrap-content > p {
    font-family: assistant;
    font-size: 20px;
    margin-block: 120px 60px;
    padding: 10px;
    text-align: center;
}

.wrap-content > p:first-of-type {
    margin-top: 0;
}