<div class="wrap-content-management">
    <div class="wrap-actions">
        <button mat-flat-button routerLinkActive="active" routerLink="songs">ניהול שירים</button>
        <button mat-flat-button routerLinkActive="active" routerLink="articles">ניהול כתבות</button>
        <button mat-flat-button routerLinkActive="active" routerLink="playlists">ניהול פלייליסטים</button>
        <button mat-flat-button routerLinkActive="active" routerLink="parade">ניהול מצעד</button>
        <button mat-flat-button routerLinkActive="active" routerLink="commits">ניהול תגובות משתמשים</button>
        <button mat-flat-button routerLinkActive="active" routerLink="deleting-area">איזור מחיקה</button>
        <button mat-flat-button routerLinkActive="active" routerLink="reports-area">איזור דיווח</button>
    </div>
    <router-outlet></router-outlet>
</div>