.wrap-commits-board {
    width: 60vw;
    margin-inline: auto;
    padding: 30px 40px;
}

.wrap-commit {
    padding: 10px 15px;
    border: solid 1px #00000024;
    border-radius: 4px;
    font-family: assistant;
    margin-block: 10px;
    cursor: pointer;
}

.wrap-commit p {
    font-weight: bold;
}