<div class="wrap-commits-board">
    <mini-title text="ניהול תגובות משתמשים"></mini-title>
    <div class="wrap-groups" *ngIf="groups!=null&&groups!=undefined">
        <div class="wrap-group" *ngFor="let group of groups">
            <p>{{group.name}}</p>
            <div class="wrap-commit" *ngFor="let commit of group.list" (click)="selectedCommit=(selectedCommit==commit?null:commit)" [class.active-commit]="selectedCommit==commit">
                <div class="title-commit">
                    <p><span>{{commit.name}}</span> » {{commit.topic}}</p>
                    <span>{{commit.title_res}}</span>
                </div>
                <div>
                    <mat-icon *ngIf="commit.tested==true" [matMenuTriggerFor]="deleteSigning">check_circle</mat-icon>
                </div>
                <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()"><mat-icon>more_vert</mat-icon></button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="openMessageDialog('האם אתה בטוח שברצונך למחוק פריט זה?',commit)"><mat-icon>delete</mat-icon>מחק תגובה</button>
                    <button mat-menu-item *ngIf="commit.tested==false" (click)="signAsTested(commit)"><mat-icon>check_circle</mat-icon>סמן כתגובה שאושרה</button>
                </mat-menu>
                <mat-menu #deleteSigning="matMenu">
                    <button mat-menu-item (click)="removeSigning(commit)"><mat-icon>delete</mat-icon>הסר אישור לתגובה</button>
                </mat-menu>
                <div class="opened-commit" *ngIf="selectedCommit==commit">
                    <span>{{commit.content_res}}</span>
                </div>
            </div>
        </div>
    </div>
</div>