<div class="wrap-commits-board">
    <p class="title">ניהול תגובות משתמשים</p>
    <div class="wrap-groups" *ngIf="groupsNotChecked!=null&&groupsNotChecked!=undefined">
        <div class="wrap-group" *ngFor="let group of groupsNotChecked">
            <p class="section-title">{{group.name}}</p>

            <div class="wrap-commit" *ngFor="let commit of group.list" (click)="openCommittDetailsDialog(commit)">
                <div class="actions">
                    <mat-icon class="delete-button" (click)="$event.stopPropagation();openMessageDialog('האם אתה בטוח שברצונך למחוק תגובה זו?',commit)">delete</mat-icon>
                    <mat-icon [class.opacity]="!commit.tested" (click)="$event.stopPropagation();signAsTested(commit)">check</mat-icon>
                </div>
                <p>{{commit.name}}</p>
                <span>{{commit.title_res}}<br>{{commit.content_res}}</span>
                <span class="date">{{group.name != 'היום' ? (commit.date | date: 'MMM d') : (commit.date | date: 'h:mm a')}}</span>
            </div>
            <div class="emptyList" *ngIf="group.list.length==0">
                <mat-icon>tag_faces</mat-icon>
                <p>- לא קיימות תגובות שלא אושרו -</p>
            </div>

        </div>
    </div>
</div>