.wrap-footer-song {
    width: 100%;
    color: white;
}

.wrap-footer-song .wrap-title {
    padding: 5px 15px;
    letter-spacing: .2px;
    height: 42px;
    overflow: hidden;
    position: relative;
    font-family: assistant;
    font-weight: 400;
    font-size: 20px;
}

.wrap-title p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-height: 32px;
    white-space: nowrap;
}

.wrap-footer-song:hover p {
    position: absolute;
	animation: 1.8s linear 0s slide forwards;
}

@keyframes slide {
  from {
      left: 100%;
      transform: translateX(-100%); 
    }
  to { left: 10px; }
}