.wrap-footer-song {
    width: 100%;
    color: white;
}

.wrap-footer-song p {
    padding: 5px 15px;
    font-size: 27px;
    font-family: fb Joker;
    font-weight: 600;
    letter-spacing: .2px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-height: 32px;
}

.info-song {
    height: fit-content;
    padding: 15px 17px;
    border-top: solid 1px #ffffff69;
    display: grid;
    grid-template-columns: fit-content(40%) fit-content(40%) auto;
}

.info-song span {
    font-weight: 100;
    font-family: calibri;
    display: table;
}

.info-song span.likes mat-icon {
    color: #F44336;
}

span.responses {
    margin-right: 6px !important;
}

span.responses, span.views {
    transition: .4s;
    opacity: 0;
}

.wrap-footer-song:hover span.responses, .wrap-footer-song:hover span.views {
    opacity: 1;
}

span.likes {
    margin-right: auto;
}