.wrap-following-item {
    width: fit-content;
    font-family: assistant;
    font-size: 17px;
    display: grid;
    grid-template-columns: 35px fit-content(40%) 145px;
    grid-column-gap: 20px;
    padding: 12px;
    border-radius: 4px;
    margin-inline: auto;
}

.place-number {
    display: flex;
    position: relative;
}

.place-number > p.title {
    transform: rotateZ(90deg);
    margin-block: auto;
    padding: 6px;
    width: 181px !important;
    position: absolute;
    top: 0;
    left: -80px;
    bottom: 0;
    height: fit-content;
    font-size: 22px;
    text-align: center;
    grid-column: 1 / 3;
    background-color: whitesmoke;
}

.img {
    height: 180px;
    width: 275px;
    background-size: cover;
    background-position: center;
}

.side-details {
    font-size: 19px;
    display: grid;
    grid-template-rows: fit-content(40%) auto;
}

.side-details > p {
    margin: 18px 10px 0;
    display: flex;
}

.side-details > p mat-icon {
    margin-left: 10px;
    margin-block: auto;
}

.side-details button {
    font-family: assistant;
    font-size: 18px;
    font-weight: 400;
    padding: 4px 14px;
    margin-top: auto;
}

.side-details button a {
    display: flex;
    align-items: center;
}

.side-details button mat-icon {
    margin-right: 10px;
}

.content {
    line-height: 27px;
    padding-block: 12px;
}

.side-details p.count {
    display: flex;
    font-size: 18px;
    margin-top: 10px;
}

.side-details p.count mat-icon {
    margin: auto 0 auto 6px;
}