<p class="title-search">
    לסינון שירים לפי זמר, אומן, סגנון וז'אנר
    <mat-icon>keyboard_arrow_down</mat-icon>
</p>
<mat-form-field appearance="fill">
    <mat-label>זמרים</mat-label>
    <mat-select [formControl]="singers" multiple>
        <mat-option *ngFor="let singer of singersList" [value]="singer.name">{{singer.name}}</mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>אומנים</mat-label>
    <mat-select [formControl]="artists" multiple>
        <mat-option *ngFor="let artist of artistsList" [value]="artist.name">{{artist.name}}</mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>סגנונות וז'אנרים</mat-label>
    <mat-select [formControl]="tags" multiple>
        <mat-option *ngFor="let tag of tagsList" [value]="tag.name">{{tag.name}}</mat-option>
    </mat-select>
</mat-form-field>