<div class="top" id="top-scroll">
    <div class="content">
        <div class="wrapper">
            <div class="current-img" [style.background-image]="'url('+img+')'" *ngIf="isImage">
                <mat-spinner class="small-spinner" *ngIf="imgFailed"></mat-spinner>
            </div>
            <div class="current-content">
                <h3><mat-icon *ngIf="icon!=null&&icon!=undefined&&icon!=''">{{icon}}</mat-icon>{{_title||'טוען...'}}</h3>
                <p *ngIf="subtitle!=null&&subtitle!=undefined">{{subtitle}}</p>
                <p *ngIf="date!=null&&date!=undefined" class="date-style">{{date | date: 'd/M/yyyy H:mm'}}</p>
            </div>
        </div>
    </div>
    <!-- <div class="img" [style.background-image]="'url('+img+')'" [class.not-blur]="notBlur"></div> -->
    <div class="img" [style.background-image]="'url(../../assets/images/for_topics/08312012-BOWERS-WILKINS-HEADPHONES-001edit.jpg)'" [class.not-blur]="notBlur"></div>
</div>