.top {
    width: 100%;
    height: 55vh;
    position: relative;
    overflow: hidden;
    transition: .7s;
}

div.content {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #00000094;
    color: white;
    padding: 95px 130px;
    display: flex;
    z-index: 2;
}

.wrapper {
    display: flex;
}

mat-spinner {
    margin: auto;
}

.current-img {
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 250px;
    min-width: 250px;
    margin-left: 50px !important;
    border: solid 1px white;
    display: flex;
    align-items: center;
    background-color: #141312de;
}

.current-content {
    min-width: 400px;
}

.img {
    transform: translateX(-3px);
    /* -webkit-filter: blur(4px);
    filter: blur(4px); */
    position: relative;
    top: -530px;
    z-index: 1;
    height: 533px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.img.not-blur {
    filter: blur(0) !important;
}

div.content div {
    margin: auto;
    text-align: center;
}

.content h3 {
    font-family: fb Ogen, calibri;
    margin: 20px 0;
    padding: 16px 20px;
    border: none;
    border-bottom: dashed 1px #ffffff5c;
    text-align: center;
    font-size: 45px;
}

.content p {
    font-family: assistant;
    line-height: 34px;
    font-size: 28px;
    font-weight: 300;
}

.tool-box {
    position: relative;
    top: -656px;
    z-index: 99;
    right: 80vw;
    display: flex;
}

.serach-box {
    background: #ffffff38;
    padding: 13px 18px;
    border-radius: 50px;
    width: 200px;
    font-family: fb Joker;
    font-size: 21px;
    margin-right: 6px;
    transition: .4s;
}

.serach-box:hover {
    background-color: #ffffff5c;
}

.serach-box:focus-within {
    background: white;
}

.follow-up-button {
    color: white;
    transform: scale(1.4);
    margin: 6px 15px;
}

.date-style {
    font-weight: 100;
}

.content h3 mat-icon {
    font-size: 45px;
    height: fit-content;
    margin: 0 15px;
    transform: translateY(10px);
}