<div class="top">
    <div class="content">
        <div>
            <h3>{{_title}}</h3>
            <p>{{subtitle}}</p>
        </div>
    </div>
    <div class="img" [style.background-image]="'url('+img+')'"></div>
    <div class="tool-box">
        <button mat-icon-button class="follow-up-button" matTooltip="הוסף למעקב שלי" matTooltipClass="blue-tooltip">
            <mat-icon>notifications</mat-icon>
        </button>
        <div class="serach-box">
            <input matInput placeholder="חפש...">
        </div>
    </div>
</div>