<div class="wrap-tools">

    <div class="search-box" *ngIf="searchBox">
        <input id="search-input" matInput placeholder="חפש...">
        <mat-icon matPrefix>search</mat-icon>
    </div>

    <button mat-stroked-button *ngIf="followUp&&!followedUp" (click)="toggleFollowUp()">
        הוסף מעקב
        <mat-icon>notifications</mat-icon>
    </button>
    <button mat-stroked-button *ngIf="followUp&&followedUp" (click)="toggleFollowUp()">
        הסר מעקב
        <mat-icon>notifications_off</mat-icon>
    </button>

    <button mat-stroked-button *ngIf="addToPlaylist" [matMenuTriggerFor]="playlists">
        שמור לפלייליסטים שלי
        <mat-icon>star_border</mat-icon>
    </button>
    <mat-menu #playlists="matMenu" style="width: fit-content;">
        <button mat-menu-item>שם שיר</button>
        <button mat-menu-item>תאריך</button>
        <button mat-menu-item>כמות צפיות</button>
    </mat-menu>

    <div class="order-by-menu" *ngIf="orderBy">
        <button mat-stroked-button [matMenuTriggerFor]="menu" class="order-by-button">
            <mat-icon>arrow_drop_down</mat-icon>סדר לפי
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item disabled *ngIf="!isChecked">מוגדר: סדר יורד</button>
            <button mat-menu-item disabled *ngIf="isChecked">מוגדר: סדר עולה</button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="order('song')">שם שיר</button>
            <button mat-menu-item (click)="order('date')">תאריך</button>
            <button mat-menu-item (click)="order('views')">כמות צפיות</button>
            <button mat-menu-item (click)="order('likes')">כמות לייקים</button>
            <button mat-menu-item (click)="order('res')">כמות תגובות</button>
        </mat-menu>
    </div>
    <!--  [href]="router.url+'/order-by-song/desc'" <a [href]="router.url+'/order-by-date/desc'"></a>-->

    <mat-slide-toggle [(ngModel)]="isChecked" *ngIf="orderBy" color="primary">סדר עולה</mat-slide-toggle>

    <span *ngIf="sideText!=''&&sideText!=null">{{sideText}}</span>

</div>