.wrap-tools span {
    font-size: 17px;
    margin-left: auto;
}

.wrap-tools {
    display: grid;
    grid-template-columns: fit-content(50%) fit-content(50%) fit-content(50%) auto;
    direction: ltr;
    padding: 7px 0 7px 30px;
    color: #252525;
    margin: 7px 0 60px;
}

.search-box {
    border-bottom: dashed 1px #252525;
    direction: rtl;
    padding: 8px 7px;
    font-family: fb Joker;
    font-size: 21px;
    margin: 0 20px;
    display: flex;
    color: #252525;
    width: 200px;
    transition: .4s;
}

.search-box:hover {
    background: whitesmoke;
}

#search-inputs {
    border: none !important;
}

.order-by-menu {
    max-width: 135px;
}

.order-by-button {
    margin: 0 20px;
    font-family: fb Joker;
    font-size: 19px;
    padding: 5px 12px;
}

.wrap-tools * {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

button.mat-stroked-button.mat-button-base.ng-star-inserted {
    margin-left: 14px;
    padding: 5px 12px;
    font-family: fb Joker;
    font-size: 19px;
}