<div class="wrap-tools">

    <div class="search-box" *ngIf="searchBox">
        <input id="search-input" matInput placeholder="חפש...">
        <mat-icon matPrefix>search</mat-icon>
    </div>

    <button mat-stroked-button *ngIf="followUp" (click)="toggleFollowUp()">
        הוסף מעקב
        <mat-icon>notifications</mat-icon>
    </button>

    <button mat-stroked-button *ngIf="addToPlaylist">
        שמור לפלייליסטים שלי
        <mat-icon>star_border</mat-icon>
    </button>

    <div class="order-by-menu" *ngIf="orderBy">
        <button mat-stroked-button [matMenuTriggerFor]="menu" class="order-by-button">
            <mat-icon>arrow_drop_down</mat-icon>סדר לפי
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item disabled *ngIf="!isChecked">מוגדר: סדר יורד</button>
            <button mat-menu-item disabled *ngIf="isChecked">מוגדר: סדר עולה</button>
            <mat-divider></mat-divider>
            <a mat-menu-item [href]="router.url+'/order-by-song/desc'">שם שיר</a>
            <button mat-menu-item><a [href]="router.url+'/order-by-date/desc'">תאריך</a></button>
            <button mat-menu-item><a [href]="router.url+'/order-by-views/desc'">כמות צפיות</a></button>
            <button mat-menu-item><a [href]="router.url+'/order-by-likes/desc'">כמות לייקים</a></button>
            <button mat-menu-item><a [href]="router.url+'/order-by-res/desc'">כמות תגובות</a></button>
        </mat-menu>
    </div>

    <mat-slide-toggle [(ngModel)]="isChecked" *ngIf="orderBy" color="primary">סדר עולה</mat-slide-toggle>

    <span *ngIf="sideText!=''&&sideText!=null">{{sideText}}</span>

</div>