.wrap-popular-singers {
    max-width: 550px;
    padding: 80px 0 55px 0;
    height: 100%;
}

.wrap-popular-singers .singer-card {
    background-position: center;
    background-size: cover;
    height: 150px;
    width: 150px;
    display: inline-flex;
    margin: 10px 0 10px 20px;
    border: solid 1px white;
    cursor: pointer;
}

p.title-part {
    margin-bottom: 25px;
    font-family: fb Joker;
    font-weight: 100;
}

.name {
    background-color: white;
    margin-top: auto;
    width: 100%;
    text-align: center;
    font-family: fb Joker;
    font-size: 21px;
    padding: 3px 0;
    transition: .4s;
    color: #252525;
}

.singer-card:hover .name {
    transform: translateY(-20px);
}

.wrap-singers-cards {
    display: flex;
    flex-wrap: wrap;
}

mat-card {
    margin: 9px;
    padding: 0 10px 0 10px;
    border: solid 1px white;
    background-color: #ffffff4a;
    overflow: hidden;
    border-radius: 0 !important;
}

.img {
    height: 110px;
    width: 160px;
    height: 111px;
    width: 158px;
    background-position: center;
    background-size: cover;
}

.mat-card-image {
    margin: 0 -10px 0 -10px !important;
}

mat-card-content, mat-card-title {
    font-family: fb Joker;
    font-size: 19px !important;
}

.wrap-text {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-family: fb Joker;
    font-size: 19px;
    opacity: 0;
    background-color: white;
    transition: .4s;
    transform: scale(0.8);
}

.show-all-card {
    opacity: 1;
    transform: scale(1);
}

.wrap-text p {
    margin: auto;
}

mat-card:hover .wrap-text:not(.show-all-card) {
    opacity: 1;
    transform: scale(1.1);
}