<div class="wrap-container-music-channels wrapper wrapper-main">
    <top title="פלייליסטים" icon="equalizer"></top>
    <div class="swiper-playlists">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide playlist soul-playlist">
                    <div>
                        <p>שירי נשמה</p><span>מיטב שירי הרגש לנשמה</span>
                    </div>
                </div>
                <div class="swiper-slide playlist jingle-playlist">
                    <div>
                        <p>להיטים</p><span>להיטים בכל הסגנונות</span>
                    </div>
                </div>
                <div class="swiper-slide playlist rhythmic-playlist">
                    <div>
                        <p>על הקצב</p><span>כנסו לקצב ותתחילו לרקוד :)</span>
                    </div>
                </div>
                <div class="swiper-slide playlist oriental-playlist">
                    <div>
                        <p>מזרחי</p><span>מיטב השירים המזרחיים</span>
                    </div>
                </div>
                <div class="swiper-slide playlist ways-playlist">
                    <div>
                        <p>על הדרך</p><span>נוסעים לטיול? הפלייסט בדיוק בשבילכם</span>
                    </div>
                </div>
                <div class="swiper-slide playlist wedding-playlist">
                    <div>
                        <p>חתונה</p><span>פלייליסט לחתן וכלה במזל"ט</span>
                    </div>
                </div>
                <div class="swiper-slide playlist morning-playlist">
                    <div>
                        <p>על הבוקר</p><span>פלייליסט לבוקר על רגל ימין</span>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</div>