<div class="wrap-new-songs">

    <div class="swiper-container swiper-container-header" style="height: 100%;">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide" >
                <div [style.background-image]="'url(../../assets/images/'+newSongsList[0].image_location+')'"></div>
                <div><a [href]="'song?songId='+newSongsList[0].id">{{newSongsList[0].title}}</a><span>» {{newSongsList[0].date | date: 'dd/MM/yyyy'}}</span></div>
            </div>
            <div class="swiper-slide">
                <div [style.background-image]="'url(../../assets/images/'+newSongsList[1].image_location+')'"></div>
                <div><a [href]="'song?songId='+newSongsList[1].id">{{newSongsList[1].title}}</a><span>» {{newSongsList[1].date | date: 'dd/MM/yyyy'}}</span></div>
            </div>
            <div class="swiper-slide">
                <div [style.background-image]="'url(../../assets/images/'+newSongsList[2].image_location+')'"></div>
                <div><a [href]="'song?songId='+newSongsList[2].id">{{newSongsList[2].title}}</a><span>» {{newSongsList[2].date | date: 'dd/MM/yyyy'}}</span></div>
            </div>
            <div class="swiper-slide">
                <div [style.background-image]="'url(../../assets/images/'+newSongsList[3].image_location+')'"></div>
                <div><a [href]="'song?songId='+newSongsList[3].id">{{newSongsList[3].title}}</a><span>» {{newSongsList[3].date | date: 'dd/MM/yyyy'}}</span></div>
            </div>
            <div class="swiper-slide">
                <div [style.background-image]="'url(../../assets/images/'+newSongsList[4].image_location+')'"></div>
                <div><a [href]="'song?songId='+newSongsList[4].id">{{newSongsList[4].title}}</a><span>» {{newSongsList[4].date | date: 'dd/MM/yyyy'}}</span></div>
            </div>
            
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination swiper-pagination-header"></div>
    
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev swiper-button-next-header"></div>
        <div class="swiper-button-next swiper-button-prev-header"></div>
    
    </div>

</div>
