.wrap-new-songs {
    height: 600px;
}

.swiper-container {
    height: 550px;
    text-align: center;
}

.swiper-slide {
    display: flex;
    background-size: cover;
    background-position: center;
}

.swiper-slide div:first-of-type {
    position: absolute;
    filter: blur(7px);
}

.swiper-slide div {
    height: 100%;
    width: 100%;
    background: #000000ad;
    padding: 110px 14vw;
    font-family: fb Dinamika;
    font-size: 67px;
    color: white;
    background-size: cover;
    background-position: center;
}

.swiper-slide div p {
    transition: .4s;
    cursor: pointer;
}

.swiper-slide div p:hover { 
    transform: translateX(10px);
}

.swiper-slide div:last-of-type {
    z-index: 2;
}

.swiper-slide div span {
    font-weight: 100;
    font-family: calibri;
    font-size: 36px;
    color: #ffffff8c;
    float: left;
    margin-top: 30px;
}

.swiper-slide div p {
    padding-bottom: 15px;
    border-bottom: solid 1px #ffffff8c;
}