.wrap-new-songs {
    height: 600px;
}

.swiper-container {
    height: 550px;
    text-align: center;
}

.swiper-slide {
    display: flex;
    background-size: cover;
    background-position: center;
}

.swiper-slide div:first-of-type {
    position: absolute;
    filter: blur(7px);
}

.swiper-slide div {
    height: 100%;
    width: 100%;
    background: #000000ad;
    padding: 110px 14vw;
    font-family: assistant;
    font-size: 36px;
    color: white;
    background-size: cover;
    background-position: center;
}

.swiper-slide div a {
    transition: .4s;
    cursor: pointer;
    padding-bottom: 15px;
    display: block;
}

.swiper-slide div a:hover { 
    color: #c7c7c7;
}

.swiper-slide div:last-of-type {
    z-index: 2;
}

.swiper-slide div span {
    font-weight: 100;
    font-family: assistant;
    font-size: 29px;
    margin-top: 30px;
}