<div class="wrap-article-details">
    <h2>{{article.title}}</h2>
    <h3>{{article.subtitle}}<span class="date"> • {{article.date | date: 'd/M/yyyy H:mm'}}</span></h3>
    <mat-divider></mat-divider>
    <img [src]="'../../assets/images/'+article.main_image">
    <p *ngIf="article.content!=null">{{article.content}}</p>
    <audio></audio>
    <div *ngIf="article.audio1!=null" width="300">
        <mat-basic-audio-player [audioUrl]="msbapAudioUrl" [title]="msbapTitle" [autoPlay]="false" muted="muted"
            (trackEnded)="onEnded($event)" [displayTitle]="msbapDisplayTitle"></mat-basic-audio-player>
    </div>
    <video *ngIf="article.video" width="320" height="240" controls controlsList="nodownload"
        oncontextmenu="return false;" [poster]="'../../assets/images/'+article.main_image" height="360" width="640">
        <source [src]="videoSrc" type="video/mp4">
    </video>
    <p *ngIf="article.credit!=null"><b>קרדיטים:</b>{{ article.credit}}</p>
</div>
