<div class="wrap-dialog">
    <h1 mat-dialog-title *ngIf="songName!=null">דיווח על השיר {{songName}}</h1>
    <div mat-dialog-content>
        <p>נא למלא פרטים מלאים ולפרט את הקשר שלכם לשיר.</p>
        <form [formGroup]="reportingForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill">
                <input matInput placeholder="שם" formControlName="name" required minlength="2">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <input matInput placeholder="טלפון זמין" formControlName="phone" required>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <input matInput placeholder="מייל" formControlName="mail" required>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <textarea matInput placeholder="תוכן ההודעה..." formControlName="message" required></textarea>
            </mat-form-field>
            <p>לתשומת לבכם! דיווח עם פרטים חסרים או שאינם מדוייקים לא יטופל.</p>

            <div mat-dialog-actions>
                <button class="action-button" mat-stroked-button color="warn" (click)="onNoClick()">בטל</button>
                <button class="action-button" mat-flat-button color="warn" type="submit">התחבר</button>
            </div>
        </form>
    </div>
</div>