<div class="wrap-dialog">
    <h1 mat-dialog-title *ngIf="songName!=null">דיווח על השיר {{songName}}</h1>
    <div mat-dialog-content>
        <p>נא למלא פרטים מלאים ולפרט את הקשר שלכם לשיר.</p>
        <!-- <mat-form-field appearance="fill">
            <input matInput [(ngModel)]="data.name" placeholder="שם" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <input matInput [(ngModel)]="data.phone" placeholder="טלפון זמין" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <input matInput [(ngModel)]="data.mail" placeholder="מייל" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <textarea matInput [(ngModel)]="data.messange" placeholder="תוכן ההודעה..." required></textarea>
        </mat-form-field>
        <p>לתשומת לבכם! דיווח עם פרטים חסרים או שאינם מדוייקים לא יטופל.</p>
        <div mat-dialog-actions>
            <button mat-button (click)="onNoClick()">בטל</button>
            <button mat-button [mat-dialog-close]="data.mail" cdkFocusInitial>שלח דיווח</button>
        </div> -->
        <form>
            <mat-form-field appearance="fill">
                <input matInput placeholder="שם">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <input matInput placeholder="טלפון זמין">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <input matInput placeholder="מייל">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <textarea matInput placeholder="תוכן ההודעה..."></textarea>
            </mat-form-field>
            <p>לתשומת לבכם! דיווח עם פרטים חסרים או שאינם מדוייקים לא יטופל.</p>

            <div mat-dialog-actions>
                <button color="warn" mat-stroked-button>בטל</button>
                <button color="warn" mat-flat-button cdkFocusInitial>שלח דיווח</button>
            </div>
             <!-- [disabled]='formRespons.invalid' (click)="onNoClick()" [(ngModel)]="data.messange" [(ngModel)]="data.mail" -->
             <!-- formControlName='mail' formControlName='messange' [(ngModel)]="data.phone" formControlName='phone' -->
             <!-- [(ngModel)]="data.name" formControlName='name' [mat-dialog-close]="data.mail" [formGroup]='formReport' (ngSubmit)='onSubmit()' -->
        </form>
    </div>
</div>