.wrap-dialog {
    direction: rtl;
    font-family: fb Joker;
    font-size: 21px;
}

mat-form-field {
    text-align: right;
    width: 100%;
    font-family: fb Joker;
}

.mat-dialog-content p {
    margin-bottom: 20px;
}

textarea {
    height: 100px;
}

.mat-dialog-title {
    font-family: fb Ogen;
    font-size: 23px;
    color: #fbc02d;
    text-align: center;
    margin: 15px 0;
}

button {
    font-family: fb Joker !important;
    font-size: 21px !important;
    padding: 6px 20px;
    margin-bottom: 10px;
    background-color: #fbc02d;
}