<div class="wrap-container-main">
    <full-song-bsd *ngIf="href.includes('/song')"></full-song-bsd>
    <full-article *ngIf="href.includes('/article')"></full-article>
    <div class="home-page-content" *ngIf="!href.includes('/song')&&!href.includes('/article')">
        <newsic></newsic>
        <music-channels></music-channels>
        <bottom-right-triangle></bottom-right-triangle>
        <searching></searching>
        <clips></clips>
        <top-right-triangle></top-right-triangle>
        <magazine></magazine>
    </div>
</div>
<app-for-try></app-for-try>