USE [master]
GO
/****** Object:  Database [MusicOnline]    Script Date: 22/12/2020 15:58:47 ******/
CREATE DATABASE [MusicOnline]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MusicOnline', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\MusicOnline.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MusicOnline_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\MusicOnline_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MusicOnline].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MusicOnline]
GO
/****** Object:  Table [dbo].[SongsTBL]    Script Date: 22/12/2020 15:58:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SongsTBL](
	[id] [int] IDENTITY(50,1) NOT NULL,
	[name] [varchar](100) NULL,
	[file_location] [varchar](max) NULL,
	[type] [varchar](50) NULL,
	[date] [datetime] NULL,
	[count_like] [bigint] NULL,
	[count_views] [bigint] NULL,
	[albumId] [int] NULL,
	[title] [varchar](150) NULL,
	[subtitle] [varchar](max) NULL,
	[image_location] [varchar](max) NULL,
	[content] [varchar](max) NULL,
	[isPerformance] [bit] NULL,
	[lastViewingDate] [datetime] NULL,
 CONSTRAINT [PK_SongsTBL] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ArticlesTBL]    Script Date: 22/12/2020 15:58:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArticlesTBL](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](max) NULL,
	[subtitle] [varchar](max) NULL,
	[dateHebrew] [varchar](50) NULL,
	[date] [datetime] NULL,
	[content] [varchar](max) NULL,
	[image] [varchar](max) NULL,
	[credit] [varchar](max) NULL,
	[count_views] [bigint] NULL,
	[count_like] [bigint] NULL,
	[lastViewingDate] [datetime] NULL,
 CONSTRAINT [PK_ArticlesBTL] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommitsToArticlesTBL]    Script Date: 22/12/2020 15:58:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommitsToArticlesTBL](
	[id] [int] IDENTITY(45,1) NOT NULL,
	[articleId] [int] NULL,
	[name] [varchar](50) NULL,
	[title] [varchar](50) NULL,
	[content] [nvarchar](max) NULL,
	[date] [datetime] NULL,
	[tested] [bit] NULL,
 CONSTRAINT [PK_ResponsesTBL] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommitsToSongsTBL]    Script Date: 22/12/2020 15:58:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommitsToSongsTBL](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[songId] [int] NULL,
	[name] [nvarchar](max) NULL,
	[title] [nvarchar](max) NULL,
	[content] [nvarchar](max) NULL,
	[date] [datetime] NULL,
	[tested] [bit] NULL,
 CONSTRAINT [PK_ResponsesToSongsTBL] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[Commits]    Script Date: 22/12/2020 15:58:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[Commits]
AS
select id, type, name, date, topic, topicId, title_res, content_res, tested from (
select r.id, 'song' AS type, r.name, r.date, s.title as topic, s.id as topicId, r.title as title_res, r.content as content_res,
tested
from CommitsToSongsTBL as r join SongsTBL as s on r.songId = s.id
union
select r.id, 'article' AS type, name, r.date, a.title as topic, a.id as topicId, r.title as title_res, r.content as content_res,
tested
from CommitsToArticlesTBL as r join ArticlesTBL as a on r.articleId = a.id) as X
GO
/****** Object:  Table [dbo].[ReportsTBL]    Script Date: 22/12/2020 15:58:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportsTBL](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[mail] [varchar](50) NULL,
	[phone] [varchar](50) NULL,
	[songId] [int] NULL,
	[message] [varchar](max) NULL,
	[status] [int] NULL,
	[date] [datetime] NULL,
 CONSTRAINT [PK_ReportsTBL] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[reportView]    Script Date: 22/12/2020 15:58:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[reportView]
as
select r.*,s.name as 'songName'
from ReportsTBL r join SongsTBL s
on r.songId=s.id
GO
/****** Object:  View [dbo].[latestResponses]    Script Date: 22/12/2020 15:58:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[latestResponses]
AS
select top 20 id, type, name, date, topic, topicId, title_res, content_res, tested from (
select r.id, 'song' AS type, r.name, r.date, s.title as topic, s.id as topicId, r.title as title_res, r.content as content_res,
tested
from CommitsToSongsTBL as r join SongsTBL as s on r.songId = s.id
union
select r.id, 'article' AS type, name, r.date, a.title as topic, a.id as topicId, r.title as title_res, r.content as content_res,
tested
from CommitsToArticlesTBL as r join ArticlesTBL as a on r.articleId = a.id) as X order by date desc
GO
/****** Object:  Table [dbo].[TagsToSongsTBL]    Script Date: 22/12/2020 15:58:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TagsToSongsTBL](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[songId] [int] NULL,
	[tagId] [int] NULL,
 CONSTRAINT [PK_TagsToSongs_TBL] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TagsForSongsTBL]    Script Date: 22/12/2020 15:58:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TagsForSongsTBL](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[typeId] [int] NULL,
 CONSTRAINT [PK_TagsForSongsTBL] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[lastViews]    Script Date: 22/12/2020 15:58:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create VIEW [dbo].[lastViews]
AS
select top 20 * from (
select id, title, subtitle, date, lastViewingDate, image_location as image,
CASE WHEN isPerformance = 'true' THEN 'performance'
WHEN EXISTS (SELECT * FROM SongsTBL as song join TagsToSongsTBL as tagts
on song.id = tagts.songId join TagsForSongsTBL as tag on tag.id = tagts.tagId
Where song.id = so.id and tag.name = 'קליפ') THEN 'clip'
ELSE 'song' END AS type
from SongsTBL so
union
select id, title, subtitle, date, lastViewingDate, image, 'article' AS type from ArticlesTBL
) as X order by lastViewingDate desc, date desc
GO
/****** Object:  Table [dbo].[TagsForArticlesTBL]    Script Date: 22/12/2020 15:58:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TagsForArticlesTBL](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
 CONSTRAINT [PK_TagsForArticlesTBL] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TagsToArticlesTBL]    Script Date: 22/12/2020 15:58:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TagsToArticlesTBL](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[articleId] [int] NULL,
	[tagId] [int] NULL,
 CONSTRAINT [PK_TagsToArticles_TBL] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SingersTBL]    Script Date: 22/12/2020 15:58:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SingersTBL](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[image] [varchar](max) NULL,
	[searchings] [bigint] NULL,
 CONSTRAINT [PK_SingersTBL] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ArtistsTBL]    Script Date: 22/12/2020 15:58:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArtistsTBL](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
 CONSTRAINT [PK_ArtistsTBL] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ArtistsToSongsTBL]    Script Date: 22/12/2020 15:58:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArtistsToSongsTBL](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[songId] [int] NULL,
	[artistId] [int] NULL,
	[jobId] [int] NULL,
 CONSTRAINT [PK_JobsToArtistsTBL] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SingersToSongsTBL]    Script Date: 22/12/2020 15:58:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SingersToSongsTBL](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[songId] [int] NULL,
	[singerId] [int] NULL,
 CONSTRAINT [PK_SingersToSongsTBL] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[itemsByParameter]    Script Date: 22/12/2020 15:58:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[itemsByParameter] (@parameter varchar(50))
RETURNS table 
AS
RETURN 
  (
	select so.id, title, subtitle, date, null as dateHebrew, image_location as image,
CASE WHEN isPerformance = 'true' THEN 'performance'
WHEN EXISTS (SELECT * FROM SongsTBL as song join TagsToSongsTBL as tagts
on song.id = tagts.songId join TagsForSongsTBL as tag on tag.id = tagts.tagId
Where song.id = so.id and tag.name = 'קליפ') THEN 'clip'
ELSE 'song' END AS type
from SongsTBL as so join SingersToSongsTBL sts
on so.id = sts.songId join SingersTBL as si
on sts.singerId = si.id where si.name = @parameter
union
select so.id, title, subtitle, date, null as dateHebrew, image_location as image,
CASE WHEN isPerformance = 'true' THEN 'performance'
WHEN EXISTS (SELECT * FROM SongsTBL as song join TagsToSongsTBL as tagts
on song.id = tagts.songId join TagsForSongsTBL as tag on tag.id = tagts.tagId
Where song.id = so.id and tag.name = 'קליפ') THEN 'clip'
ELSE 'song' END AS type
from SongsTBL as so join TagsToSongsTBL as tts
on so.id = tts.songId join TagsForSongsTBL as t on tts.tagId = t.id where t.name = @parameter
union
select so.id, title, subtitle, date, null as dateHebrew, image_location as image,
CASE WHEN isPerformance = 'true' THEN 'performance'
WHEN EXISTS (SELECT * FROM SongsTBL as song join TagsToSongsTBL as tagts
on song.id = tagts.songId join TagsForSongsTBL as tag on tag.id = tagts.tagId
Where song.id = so.id and tag.name = 'קליפ') THEN 'clip'
ELSE 'song' END AS type
from SongsTBL as so join ArtistsToSongsTBL as ats
on so.id = ats.songId join ArtistsTBL as a on ats.artistId = a.id where a.name = @parameter
union
select a.id, title, subtitle, date, dateHebrew, image, 'article' as type
from ArticlesTBL as a
join TagsToArticlesTBL as tta on a.id = tta.articleId join TagsForArticlesTBL as t on tta.tagId = t.id 
	where t.name = @parameter
  )
GO
/****** Object:  View [dbo].[GetNewSong]    Script Date: 22/12/2020 15:58:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[GetNewSong]
as
	select top 15 * from [dbo].[SongsTBL]
	order by date desc
GO
/****** Object:  View [dbo].[getFavoriteSongs]    Script Date: 22/12/2020 15:58:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[getFavoriteSongs]
as
select top 10 * 
from SongsTBL
where date > DATEADD(year,-1,GETDATE())
order by count_like desc
GO
/****** Object:  View [dbo].[songsDetails]    Script Date: 22/12/2020 15:58:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[songsDetails]
as
select so.id, so.name, so.file_location, so.type, so.date,
si.name as'singerName' ,so.count_like,so.count_views, so.albumId,so.title,so.subtitle,so.image_location,so.content
from SongsTBL so join SingersToSongsTBL sts on so.id = sts.songId
join SingersTBL si on sts.singerId = si.id
GO
/****** Object:  UserDefinedFunction [dbo].[itemByName]    Script Date: 22/12/2020 15:58:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[itemByName] (@item varchar(50))
RETURNS table 
AS
RETURN 
  (
  select top 1 id, name, image from (
select id, name, image from SingersTBL where name = @item
union
select id, name, null as image from ArtistsTBL where name = @item
union
select id, name, null as image from TagsForArticlesTBL where name = @item
union
select id, name, null as image from TagsForSongsTBL where name = @item) as X)
GO
/****** Object:  Table [dbo].[AlbumsTBL]    Script Date: 22/12/2020 15:58:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlbumsTBL](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
 CONSTRAINT [PK_AlbumsTBL] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FavoriteSongsToUserTBL]    Script Date: 22/12/2020 15:58:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FavoriteSongsToUserTBL](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NULL,
	[songId] [int] NULL,
	[date] [datetime] NULL,
 CONSTRAINT [PK_FavoriteSongsToUserTBL] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FollowUpTBL]    Script Date: 22/12/2020 15:58:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FollowUpTBL](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NULL,
	[mail] [varchar](100) NULL,
	[songId] [int] NULL,
	[articleId] [int] NULL,
 CONSTRAINT [PK_FollowUpTBL] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobTBL]    Script Date: 22/12/2020 15:58:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobTBL](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
 CONSTRAINT [PK_JobTBL] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParadeTBL]    Script Date: 22/12/2020 15:58:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParadeTBL](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[year] [varchar](50) NULL,
	[dateStart] [datetime] NULL,
	[dateEnd] [datetime] NULL,
	[image] [nvarchar](max) NULL,
 CONSTRAINT [PK_ParadeTBL] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlaylistsTBL]    Script Date: 22/12/2020 15:58:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlaylistsTBL](
	[id] [int] IDENTITY(25,1) NOT NULL,
	[name] [varchar](50) NULL,
	[title] [varchar](max) NULL,
	[count_views] [bigint] NULL,
	[image] [varchar](max) NULL,
 CONSTRAINT [PK_PlaylistsSystemTBL] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SingerSearchingToUserTBL]    Script Date: 22/12/2020 15:58:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SingerSearchingToUserTBL](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NULL,
	[singerId] [int] NULL,
	[count_searching] [bigint] NULL,
	[last_date] [datetime] NULL,
 CONSTRAINT [PK_SingerSearchingToUserTBL] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SingersToArticlesTBL]    Script Date: 22/12/2020 15:58:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SingersToArticlesTBL](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[articleId] [int] NULL,
	[singerId] [int] NULL,
 CONSTRAINT [PK_SingersToArticlesTBL] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SingersToParadeTBL]    Script Date: 22/12/2020 15:58:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SingersToParadeTBL](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[paradeId] [int] NULL,
	[singerId] [int] NULL,
	[count] [int] NULL,
 CONSTRAINT [PK_SingersToSurveyTBL] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SongsToParadeTBL]    Script Date: 22/12/2020 15:58:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SongsToParadeTBL](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[songId] [int] NULL,
	[count] [int] NULL,
	[paradeId] [int] NULL,
 CONSTRAINT [PK_SurveyTBL] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SongsToPlaylistsTBL]    Script Date: 22/12/2020 15:58:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SongsToPlaylistsTBL](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[playlistId] [int] NULL,
	[songId] [int] NULL,
 CONSTRAINT [PK_SongsToPlaylistsSystemTBL] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SongsToUserPlaylistsTBL]    Script Date: 22/12/2020 15:58:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SongsToUserPlaylistsTBL](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[playlistId] [int] NULL,
	[songId] [int] NULL,
 CONSTRAINT [PK_SongsToPlaylistsTBL] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubscriptionTBL]    Script Date: 22/12/2020 15:58:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubscriptionTBL](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NULL,
	[singerId] [int] NULL,
 CONSTRAINT [PK_SubscriptionTBL] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TopicsTBL]    Script Date: 22/12/2020 15:58:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TopicsTBL](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](150) NULL,
	[subtitle] [varchar](150) NULL,
	[href] [varchar](max) NULL,
	[icon] [varchar](50) NULL,
 CONSTRAINT [PK_TopicsTBL] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypesOfTagsTBL]    Script Date: 22/12/2020 15:58:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypesOfTagsTBL](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
 CONSTRAINT [PK_TypesOfTagsTBL] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UpdatesTBL]    Script Date: 22/12/2020 15:58:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UpdatesTBL](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](200) NULL,
	[message] [nvarchar](max) NULL,
	[status] [varchar](50) NULL,
 CONSTRAINT [PK_UpdatesTBL] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPlaylistsTBL]    Script Date: 22/12/2020 15:58:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPlaylistsTBL](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NULL,
	[name] [varchar](50) NULL,
 CONSTRAINT [PK_PlaylistsTBL] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersTBL]    Script Date: 22/12/2020 15:58:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersTBL](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[mail] [varchar](50) NULL,
	[password] [varchar](50) NULL,
	[newsletter] [bit] NULL,
	[image] [varchar](max) NULL,
 CONSTRAINT [PK_UsersTBL] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotingsToParadeTBL]    Script Date: 22/12/2020 15:58:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotingsToParadeTBL](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[paradeId] [int] NULL,
	[mail] [varchar](50) NULL,
 CONSTRAINT [PK_VotingsToParadeTBL] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AlbumsTBL] ON 

INSERT [dbo].[AlbumsTBL] ([id], [name]) VALUES (1, N'מחשב מסלול מחדש')
INSERT [dbo].[AlbumsTBL] ([id], [name]) VALUES (2, N'מאמין בניסים')
INSERT [dbo].[AlbumsTBL] ([id], [name]) VALUES (3, N'קולות')
SET IDENTITY_INSERT [dbo].[AlbumsTBL] OFF
GO
SET IDENTITY_INSERT [dbo].[ArticlesTBL] ON 

INSERT [dbo].[ArticlesTBL] ([id], [title], [subtitle], [dateHebrew], [date], [content], [image], [credit], [count_views], [count_like], [lastViewingDate]) VALUES (1, N'צפו: גדולי הזמר על במה אחת בסוכות', N'גדולי הזמר שלוימי גרטנר, יידל ורדיגר, אלי הרצליך ונמואל הרוש על במה אחת, הרקידו את הציבור בשמחת בית השואבה', N'כ"ח תשרי התשע"ט', CAST(N'2018-10-07T10:14:00.000' AS DateTime), NULL, N'for_articles/162576_tumb_750Xauto.jpg', NULL, 8, 7, NULL)
SET IDENTITY_INSERT [dbo].[ArticlesTBL] OFF
GO
SET IDENTITY_INSERT [dbo].[ArtistsTBL] ON 

INSERT [dbo].[ArtistsTBL] ([id], [name]) VALUES (1, N'אלי קליין')
INSERT [dbo].[ArtistsTBL] ([id], [name]) VALUES (2, N'איצי ברי')
INSERT [dbo].[ArtistsTBL] ([id], [name]) VALUES (3, N'אלי קליין & איצי ברי')
GO
SET IDENTITY_INSERT [dbo].[ArtistsTBL] OFF
GO
SET IDENTITY_INSERT [dbo].[ArtistsToSongsTBL] ON 

INSERT [dbo].[ArtistsToSongsTBL] ([id], [songId], [artistId], [jobId]) VALUES (1, 68, 5, 4)
INSERT [dbo].[ArtistsToSongsTBL] ([id], [songId], [artistId], [jobId]) VALUES (2, 68, 6, 8)
INSERT [dbo].[ArtistsToSongsTBL] ([id], [songId], [artistId], [jobId]) VALUES (4, 67, 2, 8)
GO
SET IDENTITY_INSERT [dbo].[ArtistsToSongsTBL] OFF
GO
SET IDENTITY_INSERT [dbo].[CommitsToArticlesTBL] ON 

INSERT [dbo].[CommitsToArticlesTBL] ([id], [articleId], [name], [title], [content], [date], [tested]) VALUES (45, 1, N'לא ידוע', N'אהבתי', N'שילוב מדהיםםם של זמרים!!', CAST(N'2020-01-01T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[CommitsToArticlesTBL] ([id], [articleId], [name], [title], [content], [date], [tested]) VALUES (46, 2, N'חסוי', N'כל הכבוד להם!!', N'איך הם מפרגנים אחד לשני... כל כך יפה לראות את זה', CAST(N'2019-01-02T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[CommitsToArticlesTBL] ([id], [articleId], [name], [title], [content], [date], [tested]) VALUES (47, 1, N'לא חשוב מה השם', N'באמת כתבה יפה', NULL, CAST(N'2019-06-05T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[CommitsToArticlesTBL] OFF
GO
SET IDENTITY_INSERT [dbo].[CommitsToSongsTBL] ON 

INSERT [dbo].[CommitsToSongsTBL] ([id], [songId], [name], [title], [content], [date], [tested]) VALUES (1, 58, N'מישהו שמבין', N'שיר מושלם', N'ברמה אחרת מכל השירים שלו עד היום.', CAST(N'2018-02-01T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[CommitsToSongsTBL] ([id], [songId], [name], [title], [content], [date], [tested]) VALUES (2, 59, N'חסוי', N'שיר מרגש ממש', N'שומע אותו בלופ. נדיררר!', CAST(N'2020-08-09T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[CommitsToSongsTBL] ([id], [songId], [name], [title], [content], [date], [tested]) VALUES (3, 59, N'אוהב מוזיקה!', N'זמר ענקקקק עם שיר מושלםםםם!!!', N'סוג של כישרון להוציא להיטים אחד אחרי השני.', CAST(N'2020-09-09T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[CommitsToSongsTBL] OFF
GO
SET IDENTITY_INSERT [dbo].[FavoriteSongsToUserTBL] ON 

INSERT [dbo].[FavoriteSongsToUserTBL] ([id], [userId], [songId], [date]) VALUES (1, 1, 56, NULL)
INSERT [dbo].[FavoriteSongsToUserTBL] ([id], [userId], [songId], [date]) VALUES (2, 1, 57, NULL)
INSERT [dbo].[FavoriteSongsToUserTBL] ([id], [userId], [songId], [date]) VALUES (3, 2, 58, NULL)
SET IDENTITY_INSERT [dbo].[FavoriteSongsToUserTBL] OFF
GO
SET IDENTITY_INSERT [dbo].[FollowUpTBL] ON 

INSERT [dbo].[FollowUpTBL] ([id], [userId], [mail], [songId], [articleId]) VALUES (3, NULL, N'bsd.odaya@gmail.com', 62, NULL)
INSERT [dbo].[FollowUpTBL] ([id], [userId], [mail], [songId], [articleId]) VALUES (1005, NULL, N'bsd.odaya@gmail.com', 71, NULL)
INSERT [dbo].[FollowUpTBL] ([id], [userId], [mail], [songId], [articleId]) VALUES (1006, NULL, N'bsd.odaya@gmail.com', NULL, 4)
SET IDENTITY_INSERT [dbo].[FollowUpTBL] OFF
GO
SET IDENTITY_INSERT [dbo].[JobTBL] ON 

INSERT [dbo].[JobTBL] ([id], [name]) VALUES (1, N'כותב')
INSERT [dbo].[JobTBL] ([id], [name]) VALUES (2, N'מלחין')
INSERT [dbo].[JobTBL] ([id], [name]) VALUES (3, N'עיבוד')
SET IDENTITY_INSERT [dbo].[JobTBL] OFF
GO
SET IDENTITY_INSERT [dbo].[ParadeTBL] ON 

INSERT [dbo].[ParadeTBL] ([id], [year], [dateStart], [dateEnd], [image]) VALUES (1, N'2020', CAST(N'2020-10-01T00:00:00.000' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[ParadeTBL] OFF
GO
SET IDENTITY_INSERT [dbo].[PlaylistsTBL] ON 

INSERT [dbo].[PlaylistsTBL] ([id], [name], [title], [count_views], [image]) VALUES (25, N'מזרחי', N'מיטב השירים המזרחיים', 460, N'for_playlists/musical-percussion-instrument-drum-bongo_169016-302.jpg')
INSERT [dbo].[PlaylistsTBL] ([id], [name], [title], [count_views], [image]) VALUES (26, N'שירי נשמה', N'מיטב שירי הרגש לנשמה', 471, N'for_playlists/acoustic-guitar-tree_1426-614.jpg')
INSERT [dbo].[PlaylistsTBL] ([id], [name], [title], [count_views], [image]) VALUES (27, N'להיטים', N'להיטים בכל הסגנונות', 283, N'for_playlists/alphacolor-66JMudIjDTw-unsplash.jpg')
SET IDENTITY_INSERT [dbo].[PlaylistsTBL] OFF
GO
SET IDENTITY_INSERT [dbo].[ReportsTBL] ON 

INSERT [dbo].[ReportsTBL] ([id], [name], [mail], [phone], [songId], [message], [status], [date]) VALUES (1, N'איציק דדיה', NULL, NULL, NULL, NULL, 1, CAST(N'2020-10-29T20:33:15.000' AS DateTime))
INSERT [dbo].[ReportsTBL] ([id], [name], [mail], [phone], [songId], [message], [status], [date]) VALUES (2, N'עצבני', NULL, NULL, NULL, NULL, 1, CAST(N'2020-11-05T21:30:00.000' AS DateTime))
INSERT [dbo].[ReportsTBL] ([id], [name], [mail], [phone], [songId], [message], [status], [date]) VALUES (3, N'אלי הרצליך', N'bsd.odaya@gmail.com', N'052-7689868', 149, N'אשמח שזה יעבוד בס"ד', 3, CAST(N'2020-12-20T12:15:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[ReportsTBL] OFF
GO
SET IDENTITY_INSERT [dbo].[SingerSearchingToUserTBL] ON 

INSERT [dbo].[SingerSearchingToUserTBL] ([id], [userId], [singerId], [count_searching], [last_date]) VALUES (1, 1, 1, 1, CAST(N'2020-02-02T00:00:00.000' AS DateTime))
INSERT [dbo].[SingerSearchingToUserTBL] ([id], [userId], [singerId], [count_searching], [last_date]) VALUES (2, 1, 2, 2, CAST(N'2020-02-03T00:00:00.000' AS DateTime))
INSERT [dbo].[SingerSearchingToUserTBL] ([id], [userId], [singerId], [count_searching], [last_date]) VALUES (3, 10, 4, 5, CAST(N'2020-11-25T19:54:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[SingerSearchingToUserTBL] OFF
GO
SET IDENTITY_INSERT [dbo].[SingersTBL] ON 

INSERT [dbo].[SingersTBL] ([id], [name], [image], [searchings]) VALUES (1, N'אברהם פריד', N'singers/אברהם-פריד.bmp', 415)
INSERT [dbo].[SingersTBL] ([id], [name], [image], [searchings]) VALUES (2, N'יעקב שוואקי', N'singers/יעקב-שוואקי.jpg', 418)
INSERT [dbo].[SingersTBL] ([id], [name], [image], [searchings]) VALUES (3, N'מרדכי בן דוד', N'singers/מרדכי-בן-דוד.jpg', 423)
SET IDENTITY_INSERT [dbo].[SingersTBL] OFF
GO
SET IDENTITY_INSERT [dbo].[SingersToParadeTBL] ON 

INSERT [dbo].[SingersToParadeTBL] ([id], [paradeId], [singerId], [count]) VALUES (1, 1, 1, NULL)
INSERT [dbo].[SingersToParadeTBL] ([id], [paradeId], [singerId], [count]) VALUES (2, 1, 2, NULL)
INSERT [dbo].[SingersToParadeTBL] ([id], [paradeId], [singerId], [count]) VALUES (3, 1, 3, NULL)
SET IDENTITY_INSERT [dbo].[SingersToParadeTBL] OFF
GO
SET IDENTITY_INSERT [dbo].[SingersToSongsTBL] ON 

INSERT [dbo].[SingersToSongsTBL] ([id], [songId], [singerId]) VALUES (1, 56, 4)
INSERT [dbo].[SingersToSongsTBL] ([id], [songId], [singerId]) VALUES (2, 57, 4)
INSERT [dbo].[SingersToSongsTBL] ([id], [songId], [singerId]) VALUES (3, 58, 4)
GO
SET IDENTITY_INSERT [dbo].[SingersToSongsTBL] OFF
GO
SET IDENTITY_INSERT [dbo].[SongsTBL] ON 

INSERT [dbo].[SongsTBL] ([id], [name], [file_location], [type], [date], [count_like], [count_views], [albumId], [title], [subtitle], [image_location], [content], [isPerformance], [lastViewingDate]) VALUES (58, N'נכספתי', N'איציק-דדיה\איציק דדיה - נכספתי.mp4', N'video', CAST(N'2020-02-09T00:00:00.000' AS DateTime), 50, 104, NULL, N'איציק דדיה חוזר במוסיקה מקורית ובוגרת יותר: "נכספתי"', N'לאחר הפסקה של שנה, חוזר איציק דדיה עם סינגל חדש ובוגר, שכולו כיסופים לבורא עולם', N'for_songs/איציק-דדיה/211576_tumb_750Xauto.jpg', N'songs_content/איציק-דדיה/נכספתי.txt', 0, NULL)
GO
SET IDENTITY_INSERT [dbo].[SongsTBL] OFF
GO
SET IDENTITY_INSERT [dbo].[SongsToParadeTBL] ON 

INSERT [dbo].[SongsToParadeTBL] ([id], [songId], [count], [paradeId]) VALUES (1, 140, 2, NULL)
INSERT [dbo].[SongsToParadeTBL] ([id], [songId], [count], [paradeId]) VALUES (2, 157, 5, NULL)
INSERT [dbo].[SongsToParadeTBL] ([id], [songId], [count], [paradeId]) VALUES (3, 128, 5, NULL)
SET IDENTITY_INSERT [dbo].[SongsToParadeTBL] OFF
GO
SET IDENTITY_INSERT [dbo].[SongsToPlaylistsTBL] ON 

INSERT [dbo].[SongsToPlaylistsTBL] ([id], [playlistId], [songId]) VALUES (1, 25, 78)
INSERT [dbo].[SongsToPlaylistsTBL] ([id], [playlistId], [songId]) VALUES (2, 25, 109)
INSERT [dbo].[SongsToPlaylistsTBL] ([id], [playlistId], [songId]) VALUES (3, 25, 111)
SET IDENTITY_INSERT [dbo].[SongsToPlaylistsTBL] OFF
GO
SET IDENTITY_INSERT [dbo].[SongsToUserPlaylistsTBL] ON 

INSERT [dbo].[SongsToUserPlaylistsTBL] ([id], [playlistId], [songId]) VALUES (4, 8, 71)
INSERT [dbo].[SongsToUserPlaylistsTBL] ([id], [playlistId], [songId]) VALUES (5, 11, 187)
INSERT [dbo].[SongsToUserPlaylistsTBL] ([id], [playlistId], [songId]) VALUES (6, 8, 169)
SET IDENTITY_INSERT [dbo].[SongsToUserPlaylistsTBL] OFF
GO
SET IDENTITY_INSERT [dbo].[SubscriptionTBL] ON 

INSERT [dbo].[SubscriptionTBL] ([id], [userId], [singerId]) VALUES (1, 1, 1)
INSERT [dbo].[SubscriptionTBL] ([id], [userId], [singerId]) VALUES (2, 2, 1)
INSERT [dbo].[SubscriptionTBL] ([id], [userId], [singerId]) VALUES (3, 3, 1)
SET IDENTITY_INSERT [dbo].[SubscriptionTBL] OFF
GO
SET IDENTITY_INSERT [dbo].[TagsForArticlesTBL] ON 

INSERT [dbo].[TagsForArticlesTBL] ([id], [name]) VALUES (1, N'אברהם פריד')
INSERT [dbo].[TagsForArticlesTBL] ([id], [name]) VALUES (2, N'איך נוצר שיר?')
INSERT [dbo].[TagsForArticlesTBL] ([id], [name]) VALUES (3, N'אילן לב')
SET IDENTITY_INSERT [dbo].[TagsForArticlesTBL] OFF
GO
SET IDENTITY_INSERT [dbo].[TagsForSongsTBL] ON 

INSERT [dbo].[TagsForSongsTBL] ([id], [name], [typeId]) VALUES (1, N'מזרחי', 1)
INSERT [dbo].[TagsForSongsTBL] ([id], [name], [typeId]) VALUES (2, N'חסידי', 1)
INSERT [dbo].[TagsForSongsTBL] ([id], [name], [typeId]) VALUES (3, N'ישראלי', 1)
SET IDENTITY_INSERT [dbo].[TagsForSongsTBL] OFF
GO
SET IDENTITY_INSERT [dbo].[TagsToArticlesTBL] ON 

INSERT [dbo].[TagsToArticlesTBL] ([id], [articleId], [tagId]) VALUES (1, 1, 38)
INSERT [dbo].[TagsToArticlesTBL] ([id], [articleId], [tagId]) VALUES (2, 1, 11)
INSERT [dbo].[TagsToArticlesTBL] ([id], [articleId], [tagId]) VALUES (3, 1, 46)
SET IDENTITY_INSERT [dbo].[TagsToArticlesTBL] OFF
GO
SET IDENTITY_INSERT [dbo].[TagsToSongsTBL] ON 

INSERT [dbo].[TagsToSongsTBL] ([id], [songId], [tagId]) VALUES (1, 56, 1)
INSERT [dbo].[TagsToSongsTBL] ([id], [songId], [tagId]) VALUES (2, 57, 1)
INSERT [dbo].[TagsToSongsTBL] ([id], [songId], [tagId]) VALUES (3, 58, 1)
GO
SET IDENTITY_INSERT [dbo].[TagsToSongsTBL] OFF
GO
SET IDENTITY_INSERT [dbo].[TopicsTBL] ON 

INSERT [dbo].[TopicsTBL] ([id], [title], [subtitle], [href], [icon]) VALUES (1, N'ראשי', NULL, N'home', N'dashboard')
INSERT [dbo].[TopicsTBL] ([id], [title], [subtitle], [href], [icon]) VALUES (2, N'חדש במוזיקה', N'כל השירים והקליפים החדשים', N'song', N'headset')
INSERT [dbo].[TopicsTBL] ([id], [title], [subtitle], [href], [icon]) VALUES (3, N'פלייליסטים', N'פלייליסטים בכל סגנון ולכל זמן', N'playlists', N'equalizer')
SET IDENTITY_INSERT [dbo].[TopicsTBL] OFF
GO
SET IDENTITY_INSERT [dbo].[TypesOfTagsTBL] ON 

INSERT [dbo].[TypesOfTagsTBL] ([id], [name]) VALUES (1, N'ג''אנר')
INSERT [dbo].[TypesOfTagsTBL] ([id], [name]) VALUES (2, N'מקצב')
INSERT [dbo].[TypesOfTagsTBL] ([id], [name]) VALUES (3, N'נושא')
SET IDENTITY_INSERT [dbo].[TypesOfTagsTBL] OFF
GO
SET IDENTITY_INSERT [dbo].[UserPlaylistsTBL] ON 

INSERT [dbo].[UserPlaylistsTBL] ([id], [userId], [name]) VALUES (1, 1, N'שירים חדשים')
INSERT [dbo].[UserPlaylistsTBL] ([id], [userId], [name]) VALUES (2, 1, N'חסידי')
INSERT [dbo].[UserPlaylistsTBL] ([id], [userId], [name]) VALUES (3, 2, N'מזרחי')
SET IDENTITY_INSERT [dbo].[UserPlaylistsTBL] OFF
GO
SET IDENTITY_INSERT [dbo].[UsersTBL] ON 

INSERT [dbo].[UsersTBL] ([id], [name], [mail], [password], [newsletter], [image]) VALUES (1, N'הודיה עזרן', N'hodaya@gmail.com', N'123456', NULL, NULL)
INSERT [dbo].[UsersTBL] ([id], [name], [mail], [password], [newsletter], [image]) VALUES (2, N'אודיה אושרי', NULL, NULL, NULL, NULL)
INSERT [dbo].[UsersTBL] ([id], [name], [mail], [password], [newsletter], [image]) VALUES (3, N'נרשם לרשימת תפוצה', N'abcde@gmail.com', NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[UsersTBL] OFF
GO
ALTER TABLE [dbo].[ArtistsToSongsTBL]  WITH CHECK ADD  CONSTRAINT [FK_ArtistsToSongsTBL_ArtistsTBL] FOREIGN KEY([artistId])
REFERENCES [dbo].[ArtistsTBL] ([id])
GO
ALTER TABLE [dbo].[ArtistsToSongsTBL] CHECK CONSTRAINT [FK_ArtistsToSongsTBL_ArtistsTBL]
GO
ALTER TABLE [dbo].[ArtistsToSongsTBL]  WITH CHECK ADD  CONSTRAINT [FK_ArtistsToSongsTBL_JobTBL] FOREIGN KEY([jobId])
REFERENCES [dbo].[JobTBL] ([id])
GO
ALTER TABLE [dbo].[ArtistsToSongsTBL] CHECK CONSTRAINT [FK_ArtistsToSongsTBL_JobTBL]
GO
ALTER TABLE [dbo].[ArtistsToSongsTBL]  WITH CHECK ADD  CONSTRAINT [FK_ArtistsToSongsTBL_SongsTBL2] FOREIGN KEY([songId])
REFERENCES [dbo].[SongsTBL] ([id])
GO
ALTER TABLE [dbo].[ArtistsToSongsTBL] CHECK CONSTRAINT [FK_ArtistsToSongsTBL_SongsTBL2]
GO
ALTER TABLE [dbo].[CommitsToArticlesTBL]  WITH CHECK ADD  CONSTRAINT [FK_ResponsesTBL_ArticlesBTL] FOREIGN KEY([articleId])
REFERENCES [dbo].[ArticlesTBL] ([id])
GO
ALTER TABLE [dbo].[CommitsToArticlesTBL] CHECK CONSTRAINT [FK_ResponsesTBL_ArticlesBTL]
GO
ALTER TABLE [dbo].[CommitsToSongsTBL]  WITH CHECK ADD  CONSTRAINT [FK_ResponsesToSongsTBL_SongsTBL] FOREIGN KEY([songId])
REFERENCES [dbo].[SongsTBL] ([id])
GO
ALTER TABLE [dbo].[CommitsToSongsTBL] CHECK CONSTRAINT [FK_ResponsesToSongsTBL_SongsTBL]
GO
ALTER TABLE [dbo].[FavoriteSongsToUserTBL]  WITH CHECK ADD  CONSTRAINT [FK_FavoriteSongsToUserTBL_SongsTBL] FOREIGN KEY([songId])
REFERENCES [dbo].[SongsTBL] ([id])
GO
ALTER TABLE [dbo].[FavoriteSongsToUserTBL] CHECK CONSTRAINT [FK_FavoriteSongsToUserTBL_SongsTBL]
GO
ALTER TABLE [dbo].[FavoriteSongsToUserTBL]  WITH CHECK ADD  CONSTRAINT [FK_FavoriteSongsToUserTBL_UsersTBL] FOREIGN KEY([userId])
REFERENCES [dbo].[UsersTBL] ([id])
GO
ALTER TABLE [dbo].[FavoriteSongsToUserTBL] CHECK CONSTRAINT [FK_FavoriteSongsToUserTBL_UsersTBL]
GO
ALTER TABLE [dbo].[FollowUpTBL]  WITH CHECK ADD  CONSTRAINT [FK_FollowUpTBL_ArticlesTBL] FOREIGN KEY([articleId])
REFERENCES [dbo].[ArticlesTBL] ([id])
GO
ALTER TABLE [dbo].[FollowUpTBL] CHECK CONSTRAINT [FK_FollowUpTBL_ArticlesTBL]
GO
ALTER TABLE [dbo].[FollowUpTBL]  WITH CHECK ADD  CONSTRAINT [FK_FollowUpTBL_SongsTBL] FOREIGN KEY([songId])
REFERENCES [dbo].[SongsTBL] ([id])
GO
ALTER TABLE [dbo].[FollowUpTBL] CHECK CONSTRAINT [FK_FollowUpTBL_SongsTBL]
GO
ALTER TABLE [dbo].[FollowUpTBL]  WITH CHECK ADD  CONSTRAINT [FK_FollowUpTBL_UsersTBL] FOREIGN KEY([userId])
REFERENCES [dbo].[UsersTBL] ([id])
GO
ALTER TABLE [dbo].[FollowUpTBL] CHECK CONSTRAINT [FK_FollowUpTBL_UsersTBL]
GO
ALTER TABLE [dbo].[SingerSearchingToUserTBL]  WITH CHECK ADD  CONSTRAINT [FK_SingerSearchingToUserTBL_SingersTBL] FOREIGN KEY([singerId])
REFERENCES [dbo].[SingersTBL] ([id])
GO
ALTER TABLE [dbo].[SingerSearchingToUserTBL] CHECK CONSTRAINT [FK_SingerSearchingToUserTBL_SingersTBL]
GO
ALTER TABLE [dbo].[SingerSearchingToUserTBL]  WITH CHECK ADD  CONSTRAINT [FK_SingerSearchingToUserTBL_UsersTBL] FOREIGN KEY([userId])
REFERENCES [dbo].[UsersTBL] ([id])
GO
ALTER TABLE [dbo].[SingerSearchingToUserTBL] CHECK CONSTRAINT [FK_SingerSearchingToUserTBL_UsersTBL]
GO
ALTER TABLE [dbo].[SingersToArticlesTBL]  WITH CHECK ADD  CONSTRAINT [FK_SingersToArticlesTBL_ArticlesTBL] FOREIGN KEY([articleId])
REFERENCES [dbo].[ArticlesTBL] ([id])
GO
ALTER TABLE [dbo].[SingersToArticlesTBL] CHECK CONSTRAINT [FK_SingersToArticlesTBL_ArticlesTBL]
GO
ALTER TABLE [dbo].[SingersToArticlesTBL]  WITH CHECK ADD  CONSTRAINT [FK_SingersToArticlesTBL_SingersTBL] FOREIGN KEY([singerId])
REFERENCES [dbo].[SingersTBL] ([id])
GO
ALTER TABLE [dbo].[SingersToArticlesTBL] CHECK CONSTRAINT [FK_SingersToArticlesTBL_SingersTBL]
GO
ALTER TABLE [dbo].[SingersToParadeTBL]  WITH CHECK ADD  CONSTRAINT [FK_SingersToSurveyTBL_SingersTBL] FOREIGN KEY([paradeId])
REFERENCES [dbo].[SingersTBL] ([id])
GO
ALTER TABLE [dbo].[SingersToParadeTBL] CHECK CONSTRAINT [FK_SingersToSurveyTBL_SingersTBL]
GO
ALTER TABLE [dbo].[SingersToSongsTBL]  WITH CHECK ADD  CONSTRAINT [FK_SingersToSongsTBL_SingersTBL] FOREIGN KEY([singerId])
REFERENCES [dbo].[SingersTBL] ([id])
GO
ALTER TABLE [dbo].[SingersToSongsTBL] CHECK CONSTRAINT [FK_SingersToSongsTBL_SingersTBL]
GO
ALTER TABLE [dbo].[SingersToSongsTBL]  WITH CHECK ADD  CONSTRAINT [FK_SingersToSongsTBL_SongsTBL] FOREIGN KEY([songId])
REFERENCES [dbo].[SongsTBL] ([id])
GO
ALTER TABLE [dbo].[SingersToSongsTBL] CHECK CONSTRAINT [FK_SingersToSongsTBL_SongsTBL]
GO
ALTER TABLE [dbo].[SongsTBL]  WITH CHECK ADD  CONSTRAINT [FK_SongsTBL_AlbumsTBL] FOREIGN KEY([albumId])
REFERENCES [dbo].[AlbumsTBL] ([id])
GO
ALTER TABLE [dbo].[SongsTBL] CHECK CONSTRAINT [FK_SongsTBL_AlbumsTBL]
GO
ALTER TABLE [dbo].[SongsToParadeTBL]  WITH CHECK ADD  CONSTRAINT [FK_SongsToParadeTBL_ParadeTBL] FOREIGN KEY([paradeId])
REFERENCES [dbo].[ParadeTBL] ([id])
GO
ALTER TABLE [dbo].[SongsToParadeTBL] CHECK CONSTRAINT [FK_SongsToParadeTBL_ParadeTBL]
GO
ALTER TABLE [dbo].[SongsToParadeTBL]  WITH CHECK ADD  CONSTRAINT [FK_SurveyTBL_SongsTBL] FOREIGN KEY([songId])
REFERENCES [dbo].[SongsTBL] ([id])
GO
ALTER TABLE [dbo].[SongsToParadeTBL] CHECK CONSTRAINT [FK_SurveyTBL_SongsTBL]
GO
ALTER TABLE [dbo].[SongsToPlaylistsTBL]  WITH CHECK ADD  CONSTRAINT [FK_SongsToPlaylistsSystemTBL_PlaylistsSystemTBL] FOREIGN KEY([playlistId])
REFERENCES [dbo].[PlaylistsTBL] ([id])
GO
ALTER TABLE [dbo].[SongsToPlaylistsTBL] CHECK CONSTRAINT [FK_SongsToPlaylistsSystemTBL_PlaylistsSystemTBL]
GO
ALTER TABLE [dbo].[SongsToPlaylistsTBL]  WITH CHECK ADD  CONSTRAINT [FK_SongsToPlaylistsSystemTBL_SongsTBL] FOREIGN KEY([songId])
REFERENCES [dbo].[SongsTBL] ([id])
GO
ALTER TABLE [dbo].[SongsToPlaylistsTBL] CHECK CONSTRAINT [FK_SongsToPlaylistsSystemTBL_SongsTBL]
GO
ALTER TABLE [dbo].[SongsToUserPlaylistsTBL]  WITH CHECK ADD  CONSTRAINT [FK_SongsToPlaylistsTBL_PlaylistsTBL] FOREIGN KEY([playlistId])
REFERENCES [dbo].[UserPlaylistsTBL] ([id])
GO
ALTER TABLE [dbo].[SongsToUserPlaylistsTBL] CHECK CONSTRAINT [FK_SongsToPlaylistsTBL_PlaylistsTBL]
GO
ALTER TABLE [dbo].[SongsToUserPlaylistsTBL]  WITH CHECK ADD  CONSTRAINT [FK_SongsToPlaylistsTBL_SongsTBL] FOREIGN KEY([songId])
REFERENCES [dbo].[SongsTBL] ([id])
GO
ALTER TABLE [dbo].[SongsToUserPlaylistsTBL] CHECK CONSTRAINT [FK_SongsToPlaylistsTBL_SongsTBL]
GO
ALTER TABLE [dbo].[SubscriptionTBL]  WITH CHECK ADD  CONSTRAINT [FK_SubscriptionTBL_SingersTBL] FOREIGN KEY([singerId])
REFERENCES [dbo].[SingersTBL] ([id])
GO
ALTER TABLE [dbo].[SubscriptionTBL] CHECK CONSTRAINT [FK_SubscriptionTBL_SingersTBL]
GO
ALTER TABLE [dbo].[SubscriptionTBL]  WITH CHECK ADD  CONSTRAINT [FK_SubscriptionTBL_UsersTBL] FOREIGN KEY([userId])
REFERENCES [dbo].[UsersTBL] ([id])
GO
ALTER TABLE [dbo].[SubscriptionTBL] CHECK CONSTRAINT [FK_SubscriptionTBL_UsersTBL]
GO
ALTER TABLE [dbo].[TagsForSongsTBL]  WITH CHECK ADD  CONSTRAINT [FK_TagsForSongsTBL_TypesOfTagsTBL] FOREIGN KEY([typeId])
REFERENCES [dbo].[TypesOfTagsTBL] ([id])
GO
ALTER TABLE [dbo].[TagsForSongsTBL] CHECK CONSTRAINT [FK_TagsForSongsTBL_TypesOfTagsTBL]
GO
ALTER TABLE [dbo].[TagsToArticlesTBL]  WITH CHECK ADD  CONSTRAINT [FK_TagsToArticlesTBL_ArticlesTBL] FOREIGN KEY([articleId])
REFERENCES [dbo].[ArticlesTBL] ([id])
GO
ALTER TABLE [dbo].[TagsToArticlesTBL] CHECK CONSTRAINT [FK_TagsToArticlesTBL_ArticlesTBL]
GO
ALTER TABLE [dbo].[TagsToArticlesTBL]  WITH CHECK ADD  CONSTRAINT [FK_TagsToArticlesTBL_TagsForArticlesTBL] FOREIGN KEY([tagId])
REFERENCES [dbo].[TagsForArticlesTBL] ([id])
GO
ALTER TABLE [dbo].[TagsToArticlesTBL] CHECK CONSTRAINT [FK_TagsToArticlesTBL_TagsForArticlesTBL]
GO
ALTER TABLE [dbo].[TagsToSongsTBL]  WITH CHECK ADD  CONSTRAINT [FK_TagsToSongsTBL_SongsTBL] FOREIGN KEY([songId])
REFERENCES [dbo].[SongsTBL] ([id])
GO
ALTER TABLE [dbo].[TagsToSongsTBL] CHECK CONSTRAINT [FK_TagsToSongsTBL_SongsTBL]
GO
ALTER TABLE [dbo].[TagsToSongsTBL]  WITH CHECK ADD  CONSTRAINT [FK_TagsToSongsTBL_TagsForSongsTBL] FOREIGN KEY([tagId])
REFERENCES [dbo].[TagsForSongsTBL] ([id])
GO
ALTER TABLE [dbo].[TagsToSongsTBL] CHECK CONSTRAINT [FK_TagsToSongsTBL_TagsForSongsTBL]
GO
ALTER TABLE [dbo].[UserPlaylistsTBL]  WITH CHECK ADD  CONSTRAINT [FK_PlaylistsTBL_UsersTBL] FOREIGN KEY([userId])
REFERENCES [dbo].[UsersTBL] ([id])
GO
ALTER TABLE [dbo].[UserPlaylistsTBL] CHECK CONSTRAINT [FK_PlaylistsTBL_UsersTBL]
GO
ALTER TABLE [dbo].[VotingsToParadeTBL]  WITH CHECK ADD  CONSTRAINT [FK_VotingsToParadeTBL_ParadeTBL] FOREIGN KEY([paradeId])
REFERENCES [dbo].[ParadeTBL] ([id])
GO
ALTER TABLE [dbo].[VotingsToParadeTBL] CHECK CONSTRAINT [FK_VotingsToParadeTBL_ParadeTBL]
GO
USE [master]
GO
