<div class="wrap-container-full-song" *ngIf="currentSong!=null">
    <div class="wrap-full-song" *ngIf="currentSong!=null&&currentSong!=undefined">
        <song-details [song]="currentSong"></song-details>
        <tags [tagsList]="tags"></tags>
        <info-song [song]="currentSong" [responsesCount]="responses.length"></info-song>
        <responses [responsesList]="responses"></responses>
    </div>
    <undefined *ngIf="currentSong==null||currentSong==undefined"></undefined>
    <similar-results [currentSongId]="currentSong.id"></similar-results>
</div>