<div class="wrap-dialog">
    <h1 mat-dialog-title>התחברות</h1>
    <div mat-dialog-content>
        <!-- <p>גם אני רוצה להתעדכן בחדשות המוזיקה אונליין</p> -->
        <form [formGroup]='formLogIn' (ngSubmit)='onSubmit()'>

            <mat-form-field appearance="fill">
                <input matInput placeholder="שם או מייל" formControlName='name' required>
                <mat-error *ngIf="formLogIn.controls.name.invalid">{{getNameErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <input matInput placeholder="סיסמה" [type]="hide?'password':'text'" formControlName='password' required>
                <button mat-icon-button matSuffix (click)="hide=!hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide?'visibility_off':'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="formLogIn.controls.password.invalid">{{getPasswordErrorMessage()}}</mat-error>
            </mat-form-field>
            <div style="text-align: left; transform: translateY(-22px); padding: 0 13px;"><span class="link-span">שכחת סיסמה?</span></div>

            <mat-checkbox color="warn">זכור אותי</mat-checkbox>

            <div style="text-align: left; margin-bottom: 12px;"><span>חדש באתר? לחץ <a (click)="openRegisterDialog()">כאן</a></span></div>

            <div mat-dialog-actions>
                <button class="action-button" mat-stroked-button color="warn" (click)="onNoClick()">בטל</button>
                <button class="action-button" mat-flat-button color="warn" type="submit">התחבר</button>
            </div>

        </form>
    </div>
    <!-- <div mat-dialog-content>

        <mat-form-field appearance="fill">
            <input matInput placeholder="מייל" formControlName='mail' required>
            <mat-error *ngIf="formLogIn.controls.name.invalid">{{getMailErrorMessage()}}</mat-error>
        </mat-form-field>

        <div mat-dialog-actions>
            <button class="action-button" mat-stroked-button color="warn" (click)="onNoClick()">בטל</button>
            <button class="action-button" mat-flat-button color="warn" type="submit">התחבר</button>
        </div>

    </div> -->
</div>