<div class="wrap-deleting-singer">
    <mat-vertical-stepper linear="true" #stepper dir="rtl">
      <mat-step [stepControl]="singerFormGroup" color="warn">
        <form [formGroup]="singerFormGroup">
          <ng-template matStepLabel>בחר זמר</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>שם זמר</mat-label>
            <input id="singer-search" type="text" matInput formControlName="singer" [matAutocomplete]="autoSingers">
            <mat-autocomplete autoActiveFirstOption #autoSingers="matAutocomplete" (optionSelected)="saveSelectedSinger($event.option.value)">
                    <mat-option *ngFor="let singer of filteredSingers | async" [value]="singer.name"><p>{{singer.name}}</mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="singerFormGroup.controls.singer.invalid">{{getSingerErrorMessage()}}</mat-error>
        </mat-form-field>
          <div>
            <button mat-button matStepperNext>הבא</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>אישור מחיקה</ng-template>
        <div class="wrap-actions">
            <button mat-stroked-button (click)="confirm()">מחק זמר</button>
            <button mat-stroked-button (click)="stepper.reset()">אפס</button>
        </div>
        <div>
          <button mat-button matStepperPrevious>הקודם</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
</div>