.wrap-performance-section {
    width: 40vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-inline: auto;
    font-family: assistant;
    height: 213px;
    grid-column-gap: 30px;
    padding: 14px;
    border: solid 1px #00000029;
    border-radius: 4px;
    line-height: 33px;
    font-size: 19.5px;
}

.img {
    background-position: center;
    background-size: cover;
    background-color: #0000001c;
}

.details {
    display: grid;
}

.details > span {
    margin-top: auto;
    font-size: 18.5px;
}

.wrap-performance-section p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    font-weight: bold;
}

.wrap-performance-section p span {
    font-weight: 300;
}