<a [href]="'song?songId='+performance.id" class="wrap-performance-section">
    <div class="per-img" [style.background-image]="'url(../../assets/images/'+performance.image_location+')'"></div>
    <div class="per-details">
        <p>{{performance.title}}</p>
        <span>{{performance.subtitle}}</span>
        <!-- <text [file]="'../../assets/text/'+performance.content"></text> -->
        <span class="per-info">{{performance.date | date : "dd/MM/yyyy H:mm"}} • דוד קליגר</span>
    </div>
</a>