/* .main-wrapper {
    padding: 10px 10px 15px;
    border: solid 1px #e6e5e5;
    border-radius: 4px;
    min-height: 305px;
}

.wrapper {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 215px;
    width: 387px;
    overflow: hidden;
}

.wrap-popular-playlist {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 100%;
    width: 100%;
    background-color: white;
    margin: auto;
    background-size: cover;
    background-position: center;
    transition: .6s;
    display: flex;
    cursor: pointer;
    animation-duration: .6s;
    animation-timing-function: ease linear;
}

.wrapper:hover .wrap-popular-playlist {
    transform: scale(1.1);
    display: flex;
}

@keyframes bigger {
    from {
        transform: scale(0.85);
    }
    to {
        transform: scale(1);
    }
}

.header-playlist {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 215px;
    width: 387px;
    position: absolute;
    background-color: #00000052;
    transition: .4s;
    z-index: 1;
    display: flex;
}

.text-container {
    display: grid;
    grid-template-columns: auto fit-content(50%);
    padding-top: 15px;
    padding-left: 10px;
}

.text {
    color: #252525;
    font-family: fb Joker;
    font-size: 21px;
    font-weight: bold;
}

.text > span {
    font-size: 19px;
    font-weight: 400;
}

.rating {
    display: flex;
    color: #fbc02d;
    margin-right: 15px;
}

.rating span {
    margin-left: 10px;
} */
.wrap-playlist {
    height: 260px;
    width: 290px;
    display: grid;
    padding: 12px;
    border: solid 1px #0000001c;
    border-radius: 4px;
    grid-template-rows: auto fit-content(50%);
    grid-row-gap: 10px;
}

a.img {
    background-position: center;
    background-size: cover;
}

.wrap-details {
    display: grid;
    grid-template-columns: auto fit-content(50%);
    grid-column-gap: 10px;
    min-height: 46px;
}

p.text {
    font-family: fb Joker;
    font-size: 21px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

p.text span {
    font-weight: 400;
    font-size: 19px;
}

.rating {
    display: flex;
    color: #333;
}

.rating mat-icon {
    margin-right: 6px;
}