.wrap-playlist {
    height: 260px;
    width: 290px;
    display: grid;
    padding: 12px;
    border: solid 1px #0000001c;
    border-radius: 4px;
    grid-template-rows: auto fit-content(50%);
    grid-row-gap: 10px;
}

a.img {
    background-position: center;
    background-size: cover;
}

.wrap-details {
    display: grid;
    /* grid-template-columns: auto fit-content(50%); */
    grid-template-rows: 48px fit-content(40%);
    grid-column-gap: 10px;
    min-height: 46px;
}

p.text {
    font-family: assistant;
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

p.text span {
    font-weight: 400;
    font-size: 17px;
}

.wrap-playlist:hover .rating {
    height: fit-content !important;
    padding-block: 5px;
}

.rating {
    display: flex;
    font-size: 15.5px;
    font-family: assistant;
    align-items: center;
    margin-top: 5px;
    background-color: #d6d6d6;
    color: white;
    border-radius: 0 0 4px 4px;
    height: 0 !important;
    transition: .1s;
}

.rating span {
    margin-right: auto;
}

.rating mat-icon {
    margin-right: 6px;
    margin-left: auto;
    font-size: 21px;
    height: fit-content;
    width: fit-content;
}