<!-- <div class="wrap-song-details" *ngIf="song!=null&&song!=undefined">
    <div class="section">
        <main [song]="song"></main>
        <side [similarSongs]="similarSongs"></side>
    </div>
</div> -->
<div class="wrap-song-details">
    <custom-tool-bar [isPublic]="false" [_playlists]="userPlaylists" (onCreatePlaylist)="createPlaylist()"
    (onSubscription)="addSubscription()" (onAddToPlaylist)="addToPlaylist()" (onFollowUp)="toggleFollowUp($event)"
    (onReport)="addReport()"></custom-tool-bar>
    <top [_title]="title" [date]="date" [img]="img"></top>
    <current-nav [navs]="navs"></current-nav>
    <div class="section">
        <main [song]="song"></main>
        <side [similarSongs]="similarSongs"></side>
    </div>
    <footer></footer>
</div>