<div class="wrap-song-details" *ngIf="song!=null&&song!=undefined">
    <!-- <top [img]="'../../assets/images/'+song.image_location" [_title]="song.title" [subtitle]="song.subtitle"></top> -->
    <!-- <current-nav [navs]="navs"></current-nav> -->
    <div class="section">
        <main [song]="song"></main>
        <side [similarSongs]="similarSongs"></side>
    </div>
    <!-- <footer></footer> -->
    <div class="" style="margin-right: 200px; width: 1300px; height: 500px;">
    <ckeditor [editor]="Editor" data="<p>Hello, world!</p>"></ckeditor>
    <!-- <ckbutton [name]="'imageExplorer'"
    [command]="'openImageExplorer'"
    (click)="openImageExplorer($event)"
    [icon]="'./images/Icon.png'"
    [label]="'Open image explorer'"
    [toolbar]="'insert,1'">
   </ckbutton> -->
   <ckeditor [editor]="Editor"
    data="<p>Some initial data</p>"
    type="inline"></ckeditor>
    </div>
</div><!--  [config]="{ toolbar: [ 'heading', 'undo', 'redo', 'bold', 'italic', 'emoji' ]}" -->