<div class="wrap-song-details" *ngIf="song!=null&&song!=undefined">
    <div class="section">
        <main [song]="song"></main>
        <side [similarSongs]="similarSongs"></side>
    </div>

    <!-- <editor></editor> -->
    <!-- <text-editor></text-editor> -->

    <!-- <angular-editor minHeight="500px" [placeholder]="'Enter text here...'" [(ngModel)]="htmlContent"></angular-editor> -->
    <!-- https://www.npmjs.com/package/@kolkov/angular-editor -->
    <!-- npm install @kolkov/angular-editor --save -->
</div>