<div class="wrap-private-area">
    <top _title="האיזור האישי שלי" subtitle="מוזיקה בסגנון שלך >>" icon="account_circle"></top>
    <custom-tool-bar></custom-tool-bar>
    <div class="wrap-tabs">
        <mat-tab-group animationDuration="0ms" [selectedIndex]="1">
            <mat-tab label="פרופיל">
                <priv-profile></priv-profile>
            </mat-tab>
            <mat-tab label="הפלייליסטים שלי">
                <priv-playlists></priv-playlists>
            </mat-tab>
            <mat-tab label="שירים שאהבתי">Content 3</mat-tab>
            <mat-tab label="כתבות שאהבתי">Content 3</mat-tab>
            <mat-tab label="ההגדרות שלי">Content 3</mat-tab>
        </mat-tab-group>
    </div>
    <footer></footer>
</div>