<div class="wrap-private-area">
    <top _title="האיזור האישי שלי" subtitle="מוזיקה בסגנון שלך >>" icon="account_circle"></top>
    <tool-bar-without-menu></tool-bar-without-menu>
    <div class="wrap-content">
        <div class="wrap-main">
            <priv-info [user]="user"></priv-info>
            <priv-main (sendPlaylist)="onSendPlaylist($event)" (onPlay)="updateIndex($event)"></priv-main>
        </div>
        <side [favoriteSongs]="songs"></side>
    </div>
    <div *ngIf="check()">
        <custom-audio-player [songsList]="songsList" [playingObj]="playingObj"></custom-audio-player>
    </div>
    <footer></footer>
</div>