textarea {
    font-size: 19px !important;
    font-family: calibri light !important;
}

input {
  font-size: 19px !important;
  font-family: calibri light !important;
  padding-bottom: 5px !important;
}