<mat-accordion class="example-headers-align addingResponse" multi>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                הוסיפו תגובה
            </mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]='formRespons' (ngSubmit)='onSubmit()'>
            <mat-form-field appearance="outline" class="fullName">
                <input matInput placeholder="שם מלא" formControlName='fullName'>
            </mat-form-field>

            <mat-form-field appearance="outline" class="email">
                <input matInput type="email" placeholder="אימייל - לא חובה" formControlName='email'>
            </mat-form-field>

            <mat-form-field appearance="outline" class="titleResponse">
                <input matInput placeholder="כותרת"  formControlName='title' >
            </mat-form-field>

            <mat-form-field appearance="outline" class="contentResponse">
                <textarea matInput placeholder="תגובה" rows="3" formControlName='message' ></textarea>
            </mat-form-field>

            <button mat-flat-button color="warn" type="submit" [disabled]='formRespons.valid' >שלח</button>
            <button mat-stroked-button color="warn" (click)='reset()'>בטל</button>
        </form>
    </mat-expansion-panel>
</mat-accordion>