.example-spacer {
    flex: 1 1 auto;
}

.wrap-container-nav {
    color: black;
    height: 100%;
    direction: rtl;
}

.nav-item {
    font-weight: 400;
    display: inline-block;
    height: 100%;
    display: inline-flex;
    cursor: pointer;
    transition: .4s;
}

.navs {
    height: 100%;
    text-align: center;
    background-color: whitesmoke;
}

.nav-item:hover {
    background-color: #fbc02d;
    color: white;
}

.nav-item * {
    margin: auto 0;
}

.nav-item mat-icon.mat-icon {
    margin-right: 7px;
    color: #2c8dfb;
}

.nav-item:hover .mat-icon {
    color: white !important;
}

.nav-item button.mat-button {
    height: 100%;
    padding: 10px 20px;
    font-weight: 400;
    font-size: 18px;
}