<div class="wrap-dialog">
    <mat-icon>push_pin</mat-icon>
    <p class="title"><strong>{{report.name}}</strong> מדווח על <strong>{{report.songName}}</strong></p>
    <p class="report-content">{{report.message}}</p>
    <div class="conact-details">
        <p><mat-icon>email</mat-icon>{{report.mail}}</p>
        <p><mat-icon>phone</mat-icon>{{report.phone}}</p>
    </div>
    <div class="actions">
        <button mat-flat-button color="warn" (click)="changeStatusToggle()">{{report.status!=3?'סמן כדיווח שטופל':'העבר לדיווחים בטיפול'}}</button>
        <button mat-stroked-button (click)="onNoClick()">סגור</button>
    </div>
</div>