<!-- <div *ngIf="permission" class="wrap-settings">
    <mat-toolbar>
        <mat-icon style="margin-left: 6px;">admin_panel_settings</mat-icon>
        <span>איזור מנהל</span>
    </mat-toolbar>
    <div class="wrap-tabs">
        <mat-tab-group animationDuration="0ms">
            <mat-tab *ngFor="let tab of tabs">
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">{{tab.icon}}</mat-icon>
                    {{tab.name}}
                </ng-template>
                <div [ngSwitch]="tab.name">
                    <sett-main *ngSwitchCase="'כללי'"></sett-main>
                    <sett-songs *ngSwitchCase="'ניהול שירים'"></sett-songs>
                    <sett-magazine *ngSwitchCase="'ניהול מגזין'"></sett-magazine>
                    <sett-surveys *ngSwitchCase="'ניהול פלייליסטים'"></sett-surveys>
                    <sett-surveys *ngSwitchCase="'סקרים'"></sett-surveys>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
<div *ngIf="!permission" class="non-permission">
    <error-page type="הרשאה"></error-page>
</div> -->
<div class="wrap-admin">
    <top _title="איזור מנהל" subtitle="מוזיקה בסגנון שלך >>" icon="account_circle"></top>
    <custom-tool-bar></custom-tool-bar>
    <div class="wrap-content">
        <div class="wrap-main">
            <priv-info [name]="'יעקב כהן'" [mail]="'yaakov10@gmail.com'" [img]="null"></priv-info>
            <!-- <p-side></p-side>
            <p-center></p-center>
            <p-left-side></p-left-side> -->
        </div>
        <side></side>
    </div>
    <footer></footer>
</div>