<div class="wrap-parade">
    <custom-tool-bar [isShowMenu]="true"></custom-tool-bar>
    <top [_title]="topic.title" [subtitle]="topic.subtitle" [icon]="topic.icon"></top>
    <current-nav [navs]="navs"></current-nav>
    <!-- <parade-header [imgParade]="topic.img"></parade-header> -->
    <div class="content-page" [ngSwitch]="isActive">
        <parade-body *ngSwitchCase="true"></parade-body>
        <parade-results *ngSwitchCase="false"></parade-results>
        <div *ngSwitchDefault>טוען...</div>
    </div>
    <footer></footer>
</div>