.wrap-f-commits {
    padding-block: 30px;
    width: fit-content;
    padding-inline: 50px;
}

.wrap-commit {
    color: white;
    padding: 10px;
    width: 300px;
    border-radius: 4px;
    font-family: assistant;
    margin-block: 10px;
    background-color: #ffffff0f !important;
}

/* ANIMATION BORDER */

.wrap-commit {
    transition: color 0.25s;
    transition: color 4s;
    transition: 4s;
    background: none;
    border: 0;
    box-sizing: border-box;
    position: relative;
    vertical-align: middle;
}

.wrap-commit::before, .wrap-commit::after {
    border: 1px solid transparent;
    width: 0;
    height: 0;
    box-sizing: inherit;
    content: '';
    position: absolute;
}

.wrap-commit::before {
    top: 0;
    left: 0;
}

.wrap-commit::after {
    bottom: 0;
    right: 0;
}

.wrap-commit:hover::before, .wrap-commit:hover::after {
    width: 100%;
    height: 100%;
}

.wrap-commit:hover::before {
    border-top-color: #ffffff3b;
    border-right-color: #ffffff3b;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
    transition: width 1s ease-out, height 0.25s ease-out 1s;
    border-radius: 4px;
}

.wrap-commit:hover::after {
    border-bottom-color: #ffffff3b;
    border-left-color: #ffffff3b;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
    transition: border-color 0s ease-out 1.25s, width 1s ease-out 1.25s, height 0.25s ease-out 2.25s;
    border-radius: 4px;
}

/* END */

.wrap-commit p {
    color: #fbc02d;
}

.wrap-commit span.content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: #ffffff6b;
}