<div class="wrap-manage-song">
    <!-- <mat-drawer-container class="example-container" autosize>
        <mat-drawer #drawer class="sidenav" mode="side" opened="true" position="end">
            <div class="wrap-side-nav-buttons">
                <button mat-flat-button (click)="activeAction=1" [class.active]="activeAction==1"><mat-icon>add</mat-icon>הוספה</button>
                <button mat-flat-button (click)="activeAction=2" [class.active]="activeAction==2"><mat-icon>edit</mat-icon>עריכה</button>
                <button mat-flat-button (click)="activeAction=3" [class.active]="activeAction==3"><mat-icon>delete</mat-icon>מחיקה</button>
            </div>
        </mat-drawer>

        <div class="sidenav-content" [ngSwitch]="activeAction">
            <button type="button" mat-button (click)="drawer.toggle()">
                Toggle sidenav
            </button>
            <adding-song *ngSwitchCase="1"></adding-song>
            <editing-song *ngSwitchCase="2"></editing-song>
            <deleting-song *ngSwitchDefault></deleting-song>
        </div>
    </mat-drawer-container> -->
    <adding-song-stepper></adding-song-stepper>
</div>