<div class="wrap-manage-song">
    <mat-drawer-container class="example-container" autosize>
        <mat-drawer #drawer class="sidenav" mode="side" opened="true" position="end">
            <div class="wrap-side-nav-buttons">
                <button mat-flat-button [class.active]="activeAction==1">
                    <mat-icon>add</mat-icon>הוספה
                </button>
                <button mat-flat-button [class.active]="activeAction==2">
                    <mat-icon>edit</mat-icon>עריכה
                </button>
                <button mat-flat-button [class.active]="activeAction==3">
                    <mat-icon>delete</mat-icon>מחיקה
                </button>
            </div>
        </mat-drawer>

        <div class="sidenav-content">
            <!-- <button type="button" mat-button (click)="drawer.toggle()">
                Toggle sidenav
            </button> -->
            <uploading-song></uploading-song>
        </div>
    </mat-drawer-container>
</div>