/* .example-container {
    // width: 500px;
    min-height: 300px;
    // border: 1px solid rgba(0, 0, 0, 0.5);
}
  
.sidenav-content {
    height: 100%;
    align-items: center;
    justify-content: center;
    padding-right: 30px;
}
  
.sidenav {
    padding: 20px;
    border: none;
}
  
.wrap-side-nav-buttons {
    display: grid;
    grid-row-gap: 20px;
}
  
.wrap-side-nav-buttons button mat-icon {
    margin-left: 6px;
}
  
.wrap-side-nav-buttons button {
    font-family: assistant;
    font-size: 17px;
    font-weight: 400;
}

.sidenav-content {
    background-color: #fff !important;
} */
p {
    font-family: assistant;
    font-size: 17px;
    margin-top: 50px;
}