.wrapper {
    height: 250px;
    width: 300px;
    overflow: hidden;
}

.wrap-song {
    background-color: white;
    margin: auto;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: .4s;
    display: flex;
    cursor: pointer;
    transition: .4s;
    animation-duration: .6s;
    animation-timing-function: ease linear;
}

@keyframes bigger {
    from {
        transform: scale(0.85);
    }
    to {
        transform: scale(1);
    }
}

.wrap-song:hover .wrap-play-icon {
    background-color: #0000002a;
}

.wrap-song:hover mat-icon {
    opacity: 1;
}

.wrap-play-icon {
    display: flex;
    height: 250px;
    width: 300px;
    position: absolute;
    background-color: #00000052;
    transition: .4s;
    z-index: 1;
}

.wrap-play-icon mat-icon {
    color: white;
    font-size: 80px;
    height: auto;
    width: auto;
    margin: auto;
    opacity: 0.75;
    transition: .4s;
}

footer-song {
    margin-top: auto;
    width: 100%;
    z-index: 2;
}