.wrap-browse-pages {
    display: flex;
    padding: 0 320px;
}

.index-button {
    padding: 9px 2px;
    text-align: center;
    width: 34px;
    margin: 0 5px;
    cursor: pointer;
}

.activeIndex {
    background-color: #fbc02d;
    color: white;
}

.dotes {
    margin-top: auto;
    letter-spacing: 5px;
    margin-bottom: 7px;
    color: #fbc02d;
    font-weight: 700;
}