<div class="warp-edit-song">

    <mat-form-field appearance="outline">
        <mat-label>שם שיר</mat-label>
        <input (keyup.enter)="songSearch()" type="text" matInput [formControl]="songsControl" [matAutocomplete]="autoSongs">
        <mat-autocomplete autoActiveFirstOption #autoSongs="matAutocomplete" (optionSelected)="onSelectionChange($event)">
            <mat-option *ngFor="let song of filteredSongs | async" [value]="song.name"></mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <div *ngIf="SelectedSong!=null||undefined">
        <uploading-song></uploading-song>
    </div>

</div>