.wrap-top-footer {
    text-align: center;
    color: white;
    display: grid;
    grid-template-columns: fit-content(50%) auto;
}

.one-child {
    grid-template-columns: auto;
}

.wrap-top-footer .content {
    display: grid;
    grid-template-columns: auto fit-content(50%);
    background-color: #4499f9;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 18.5px solid transparent;
    border-bottom: 18.5px solid transparent;
    border-right: 15px solid #2c8dfb;
}

.arrow-right:first-child {
    border-right-color: #4499f9;
}

.wrap-top-footer h3 {
    margin: auto;
    font-weight: 200;
}