.wrap-all-articles {
    padding: 75px 5vw;
    min-height: 1161px;
    display: grid;
}

.wrap-article {
    margin: 25px 27px;
    width: 50vw;
    margin-inline: auto;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}