.wrap-all-articles {
    /* padding: 30px 17vw; */
    padding: 30px 5vw;
    display: flex;
    flex-wrap: wrap;
    min-height: 1161px;
}

.wrap-article {
    flex: 0 1 calc(50% - 55px);
    margin: 25px 27px;
}