<div class="wrap-header">
    <img src="../../assets/images/logo-bsd-black.png">
    <div class="slogen">
        <p>עולם של מוזיקה יהודית</p>
        <span>בכל סגנון שתבחרו.</span>
    </div>
    <div class="search">

        <mat-form-field appearance="outline">
            <mat-label>שם שיר</mat-label>
            <input type="text" matInput [formControl]="songsControl" [matAutocomplete]="autoSongs"
                (keydown.enter)="search($event.target.value)">
            <mat-icon matPrefix (click)="triggerClick()">search</mat-icon>
            <mat-autocomplete autoActiveFirstOption #autoSongs="matAutocomplete">
                <mat-option *ngFor="let song of filteredSongs | async" [value]="song.name">
                    <a class="search-song" #option [href]="'song/'+song.id">{{song.name}}</a>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>שם זמר</mat-label>
            <input type="text" matInput [formControl]="singersControl" [matAutocomplete]="autoSingers">
            <button mat-icon-button matPrefix>
                <mat-icon>search</mat-icon>
            </button>
            <mat-autocomplete autoActiveFirstOption #autoSingers="matAutocomplete">
                <mat-option *ngFor="let singer of filteredSingers | async" [value]="singer.name">
                    <a class="search-singer" [href]="'song/by-singer/'+singer.name">{{singer.name}}</a>
                </mat-option>

            </mat-autocomplete>
        </mat-form-field>

        <button *ngIf="!connected" mat-flat-button (click)="openLoginDialog()">
            <mat-icon>login</mat-icon>התחבר
        </button>
        <button *ngIf="connected" mat-flat-button (click)="openMassageDialog('האם אתה בטוח שברצונך להתנתק?')">
            <mat-icon>logout</mat-icon>התנתק
        </button>
        <button mat-fab color="warn"><mat-icon>person</mat-icon></button>
        
    </div>
</div>