.wrap-header {
    height: 200px;
    padding: 10px 65px;
    display: flex;
    /* background-color: #171717;
    color: white !important; */
    background-color: white;
    color: #171717 !important;
    align-items: center;
}

.wrap-header img {
    height: 100%;
    flex: 0;
    margin-left: 2vw;
}

.slogen {
    display: inline-block;
    flex: 1;
}

.slogen p {
    font-size: 32px;
    font-family: fb Ogen;
    font-weight: 600;
}

.slogen span {
    font-size: 28px;
    letter-spacing: 4px;
    font-weight: 100;
    font-family: calibri;
}

.search {
    display: flex;
    align-items: center;
    margin-right: auto;
}