<div class="wrap-side">

    <div class="title-section"><p>{{favoriteSongs.length>0?'שירים שאהבת >>':'תוצאות דומות'}}</p></div>
    <si-similar-results [songs]="similarSongs.length>0?similarSongs:favoriteSongs" [articles]="similarArticles"></si-similar-results>

    <div class="title-section"><p>הכתבות החמות של החודש</p></div>
    <si-hot-articles></si-hot-articles>

    <div class="title-section"><p>השירים הפופולאריים של החודש</p></div>
    <si-popular-songs></si-popular-songs>

    <!-- <div class="title-section"><p>עדכונים</p></div> -->
    <!-- <si-updating></si-updating> -->
    
</div>