.wrap-side {
    border: solid 1px #dcdcdc;
    padding: 10px;
    border-radius: 4px;
    margin: 25px;
    min-width: 375px;
    max-width: 450px;
}

div.title-section {
    padding: 15px;
    text-align: center;
    font-family: fb Joker, calibri;
    font-size: 21px;
    border-bottom: solid 1px #dcdcdc;
    margin: 55px 0 35px;
    color: #929292;
}

.title-section:first-of-type {
    margin-top: 20px !important;
}

.similar-songs {
    margin: 33px 0;
}

.similar-songs:first-of-type {
    margin-top: 15px;
}