/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; } */
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

button span {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

/* #region(collapsed) [Material-icons] */

.material-icons {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

/* #endregion */

/* #region(collapsed) [Scrollbar] */

::-webkit-scrollbar-thumb {
    width: 8px;
    height: auto;
    background-color: #fbc02d;
}

::-webkit-scrollbar {
    width: 8px;
    height: auto;
    background-color: whitesmoke;
}

/* #endregion */

/* #region(collapsed) [Form] */

mini-searching .mat-form-field-wrapper {
    padding-bottom: 0 !important;
    margin-bottom: 15px !important;
}

.mat-option-pseudo-checkbox {
    margin-left: 8px;
}

.mat-checkbox-inner-container {
    margin-left: 8px !important;
    margin-top: 8px !important;
}

/* #endregion */

/* #region(collapsed) [Title + Tabs] */

div.mat-tab-label {
    visibility: hidden;
    height: 5px;
}

.wrapper:hover h2.title {
    padding-right: 70px;
}

mat-ink-bar {
    left: auto !important;
}

.wrapper:hover .mat-tab-header {
    padding-right: 70px;
}

.mat-tab-header {
    height: 45px;
    transition: .5s cubic-bezier(.35,0,.25,1);
}

popularly .mat-tab-nav-bar, popularly .mat-tab-header,
info .mat-tab-nav-bar, info .mat-tab-header {
    border-bottom: 1px solid rgb(255 255 255 / 12%);
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #fbc02d;
}

.mat-tab-header-pagination {
    display: none !important;
}

/* #endregion */

/* #region(collapsed) [Wrapper] */

.wrapper {
    padding: 40px 35px;
    padding-bottom: 0;
    direction: rtl;
}

.wrapper-main {
    padding: 40px 95px;
    padding-bottom: 20px;
}

.wrapper-footer {
    padding: 35px 40px;
}

/* #endregion */

/* #region(collapsed) [Swiper-Slide] */

.swiper-pagination-bullet {
    display: inline-block;
    background: #000;
    opacity: .2;
    margin: 0 4px;
    width: 30px;
    height: 6px;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background-color: #2c8dfb;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 4px;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}

/* #endregion */

/* #region(collapsed) [Swiper-Slide] */

.blue-tooltip {
    background: #2c8dfb;
    margin: 0 !important;
    z-index: 9999;
}

/* #endregion */
