.wrap-footer {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: #252525;
    background-blend-mode: multiply;
    padding-right: 100px;
    display: grid;
    grid-template-columns: fit-content(50%) fit-content(50%) fit-content(50%);
    margin-top: 150px;
    padding-top: 80px;
}

small-slogen {
    grid-column: 1 / 5;
}