/* .m-container {
    width: fit-content;
    position: relative;
    right: 50%;
    transform: translateX(50%);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 35px 40px;
    padding: 100px 0;
}

p.title-section {
    grid-column: 1 / 5;
    font-family: fb Ogen;
    font-size: 23px;
}

nav-button {
    grid-column: 1 / 5;
} */