*, mat-form-field {
    direction: rtl;
    text-align: right;
}

h1 {
    margin-bottom: 10px;
    color: #2c8dfb;
    text-align: center;
    font-family: fb Joker;
    font-size: 27px;
    font-weight: 600;
}

.mat-dialog-content, .mat-dialog-content p {
    text-align: center;
}

.mat-dialog-content p {
    margin: 20px 0 10px;
}

.mat-dialog-content mat-icon {
    color: #2c8dfb;
    display: block;
    text-align: center;
    margin: 0 auto;
    transition: .4s;
}

.mat-dialog-actions {
    direction: ltr;
}

.mat-dialog-content:hover mat-icon {
    transform: translateY(7px);
}

.more {
    display: flex;
}

#smart-update {
    display: none;
}

.smart-update-wanted {
    display: block !important;
}