.parade-message {
    text-align: center;
    padding-block: 10px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
    position: relative;
    right: 50%;
    transform: translateX(50%);
    grid-column-gap: 15px;
    padding: 15px 25px;
    box-shadow: 0 0 6px #0000002e;
    border: solid 1px #fbc02d;
    border-radius: 4px;
    /* animation: pencil 2s infinite linear; */
  border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E");
}


.parade-message {
    transition: color 0.25s;
    transition: color 4s;
    transition: 4s;
  background: none;
  border: 0;
  box-sizing: border-box;
  margin: 1em;
  padding: 1em 2em;
  /* box-shadow: inset 0 0 0 2px #f45e61; */
  color: #f45e61;
  font-size: inherit;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
  }
  .parade-message::before, .parade-message::after {
    border: 2px solid transparent;
    width: 0;
    height: 0;
    box-sizing: inherit;
    content: '';
    position: absolute;
    /* width: 100%;
    height: 100%; */
  }
  .parade-message::before {
    top: 0;
    left: 0;
  }
  .parade-message::after {
    bottom: 0;
    right: 0;
  }
  .parade-message:hover {
    /* color: #0eb7da; */
  }
  .parade-message:hover::before, .parade-message:hover::after {
    width: 100%;
    height: 100%;
    /* height: 80%; */
  }
  .parade-message:hover::before {
    border-top-color: #0eb7da;
    border-right-color: #0eb7da;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
    transition: width 1s ease-out, height 0.25s ease-out 1s;
  }
  .parade-message:hover::after {
    border-bottom-color: #0eb7da;
    border-left-color: #0eb7da;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
    transition: border-color 0s ease-out 1.25s, width 1s ease-out 1.25s, height 0.25s ease-out 2.25s;
  }

@keyframes pencil {
    0% {
        transition: border-color 0.5s ease-in-out 0.25s;
        border-color: #000 #fff #fff #fff;
        top:0%;
      left: 0%;
    }
    25% {
        transition: border-color 0.5s ease-in-out 0.25s;
        border-color: #fff #000 #fff #fff;
        /* top:0%;
      right: 100%; */
    }
    50% {
        transition: border-color 0.5s ease-in-out 0.25s;
        border-color: #fff #fff #000 #fff;
        /* top:100%;
      right: 100%; */
    }
    75% {
        transition: border-color 0.5s ease-in-out 0.25s;
        border-color: #fff #fff #fff #000;
        /* top:100%;
      right: 0%; */
    }
    100% {
        transition: border-color 0.5s ease-in-out 0.25s;
        border-color: #fff #fff #fff #fff;
        /* top:0%;
      right: 0%; */
    }
  }

.parade-message p {
    font-size: 49px;
    color: #fbc02d;
    font-weight: bold;
    font-family: assistant;
}

.parade-message span {
    font-family: fb Joker;
    font-size: 38px;
    width: fit-content;
    color: #333;
    font-weight: 300;
    display: flex;
    width: auto;
}

.parade-message span mat-icon {
    margin-right: auto;
    font-size: 35px;
    color: #fbc02d;
}