.wrap-form-search {
    padding: 0 50px;
    padding-top: 50px;
}

mat-checkbox {
    letter-spacing: .3px;
}

.search-button {
    background-color: #2c8dfb;
    padding: 11px 30px;
    color: white;
    transform: translateY(-7px);
    margin: 35px 15px;
    font-size: 17px;
    font-weight: 400;
}

.searching-fields {
    display: grid;
    grid-template-columns: auto auto;
}