mat-divider {
    margin: 15px 0;
}

.info {
    display: flex;
    padding: 0 7px;
    font-family: fb Joker;
    font-size: 21px;
}

.info > * {
    margin: auto 0;
}

.info > mat-icon {
    margin: auto 25px auto 5px;
}

button {
    margin-right: auto !important;
    color: #F44336;
}