.wrap-dialog {
    direction: rtl;
    font-family: fb Joker;
    font-size: 21px;
}

.mat-dialog-content p {
    margin-bottom: 20px;
}

.mat-dialog-title {
    font-size: 18px;
    text-align: center;
    font-family: assistant;
    font-weight: 400;
    margin: 15px 0;
}

button {
    font-family: assistant !important;
    font-size: 17px !important;
    font-weight: 400;
    padding: 2px 20px;
    margin-bottom: 16px;
    margin-right: 5px;
}