mat-card.mat-card {
    box-shadow: none;
    transition: .4s;
    border: solid 1px #d6d6d6;
    height: 100%;
    display: grid;
    grid-template-rows: fit-content(50%) auto fit-content(50%) fit-content(50%);
}

mat-card.mat-card:hover {
    transform: translateY(2px);
}

mat-card-title.mat-card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

mat-card-content.mat-card-content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-height: 21px;
}

mat-card-actions {
    text-align: center;
    padding: 5px;
}

.mat-icon {
    font-size: 24px;
}