<mat-card>
    <mat-card-header>
        <mat-card-title>{{article.title}}</mat-card-title>
        <mat-card-subtitle>{{article.dateHebrew}} | {{article.date | date: 'd/M/yyyy H:mm'}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="'../../assets/images/'+article.main_image">
    <mat-card-content>{{article.subtitle}}</mat-card-content>
    <mat-card-actions>
        <button mat-icon-button><mat-icon matTooltipClass="blue-tooltip" matTooltip="לייק"
            (click)="sign($event)" (mouseenter)="marking($event)" (mouseleave)="reset_marking($event,'black')">favorite_border</mat-icon></button>
        <button mat-icon-button><mat-icon matTooltipClass="blue-tooltip" matTooltip="לכתבה המלאה">read_more</mat-icon></button>
    </mat-card-actions>
</mat-card>
