/* You can add global styles to this file, and also import other style files */

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    direction: rtl;
    scroll-behavior: smooth;
}

/* #region(collapsed) [Material-icons] */

.material-icons, .mat-icon {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
    font-family: 'Material Icons';
}

/* #endregion */

/* #region(collapsed) [Scrollbar] */

::-webkit-scrollbar-thumb {
    width: 8px;
    height: auto;
    background-color: #fbc02d;
}

::-webkit-scrollbar {
    width: 8px;
    height: auto;
    background-color: whitesmoke;
}

/* #endregion */

/* #region(collapsed) [mat-form-field] */

.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float 
.mat-form-field-label {
    transform: translate(-14px, -1.5937em) scale(0.75);
}

mat-option {
    text-align: right !important;
    direction: rtl !important;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    padding-top: 0 !important;
}

.mat-form-field-underline {
    display: none;
}

response-adding mat-form-field {
    margin: 0 10px;
    text-align: right !important;
}

reporting-dialog .mat-form-field-infix, response-adding .mat-form-field-infix {
    padding-top: 0 !important;
}

.mat-form-field-wrapper {
    padding-bottom: 17px;
}

/* #endregion */

/* #region(collapsed) [Swiper-Slide] */

.swiper-pagination-bullet {
    display: inline-block;
    background: #fff;
    opacity: .2;
    margin: 0 6px;
    width: 13px;
    height: 13px;
    border-radius: 50px;
}

.swiper-pagination { 
    margin: 0 0 23px;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background-color: #fff;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 4px;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}

.swiper-button-prev, .swiper-button-next {
    color: white !important;
    margin: 0 180px;
    font-size: 38px;
}

/* #endregion */

/* #region(collapsed) [register-button] */

register button span {
    font-family: calibri;
    font-size: 17px;
    color: #525252;
}

/* #endregion */

/* #region(collapsed) [for-Home-Page] */

.wrap-container {
    padding: 65px 60px;
}

.center-content {
    margin: 0 15.5vw;
    height: 100%;
}

/* #region(collapsed) [for-smaller-screens] */

@media only screen and (max-width: 1830px) {
    .center-content {
        margin: 0 14vw;
    }
}

@media only screen and (max-width: 1760px) {
    .center-content {
        margin: 0 12vw;
    }
}

@media only screen and (max-width: 1680px) {
    .center-content {
        margin: 0 10vw;
    }
}

@media only screen and (max-width: 1590px) {
    .center-content {
        margin: 0 9vw;
    }
}

@media only screen and (max-width: 1550px) {
    .center-content {
        margin: 0 8vw;
    }
}

@media only screen and (max-width: 1500px) {
    .center-content {
        margin: 0 6vw;
    }
}

@media only screen and (max-width: 1450px) {
    .center-content {
        margin: 0 4vw;
    }
}

/* #endregion */

p.title-part {
    font-size: 23px;
    font-family: fb Ogen;
    color: #fbc02d;
}

footer p.title-part {
    color: white;
}

.center-object {
    display: flex;
    height: fit-content;
    padding: 20px 0;
}

.reload-more-button {
    margin: 15px 0;
    padding: 2px 0;
    font-family: fb Ogen;
    font-size: 22px;
    text-align: center;
    background-color: #3a3a3a;
    color: white;
    transition: .4s;
}

.reload-more-button:hover{
    background-color: #101010;
}

.space-between {
    margin: auto;
}

.space-between:first-of-type {
    margin-right: 0;
}

.space-between:last-of-type {
    margin-left: 0;
}

/* #endregion */

/* #region(collapsed) [for-Home-Page] */

.mat-dialog-content {
    height: fit-content;
    overflow: inherit !important;
}

.mat-dialog-actions {
    direction: ltr !important;
}
/* #endregion */

/* #region(collapsed) [Tooltip] */

.blue-tooltip {
    background: #2c8dfb;
    margin: 10px 0 0 !important;
    z-index: 9999;
    font-size: 12px;
    font-weight: 400;
    box-shadow: 0 0 5px #1010101f;
}

/* #endregion */

/* #region(collapsed) [Responses-Accordion] */

mat-expansion-panel-header {
    padding: 0 !important;
}

mat-panel-title {
    font-family: fb Joker;
    font-size: 21px;
}

response mat-panel-title {
    font-weight: 600;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
}

response mat-panel-title {
    margin: 0 !important;
    color: rgba(0, 0, 0, 0.87) !important;
}

response-adding .mat-expansion-panel:not([class*=mat-elevation-z]) {
    border: solid 1px #00000026;
}

response .mat-expansion-panel .mat-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled=true]), 
response .mat-expansion-panel .mat-expansion-panel-header.cdk-program-focused:not([aria-disabled=true]), 
response .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]) {
    background: transparent;
}

mat-expansion-panel-header {
    background: transparent !important;
}

response-adding .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.5em 0;
}

response .mat-expansion-panel-body {
    font-family: fb Joker;
    font-size: 23px;
    padding: 0;
}

response span.mat-expansion-indicator {
    margin-left: 15px;
}

response:first-of-type .mat-expansion-panel:not([class*=mat-elevation-z]) {
    margin-top: 25px;
}

/* #endregion */

/* #region(collapsed) [Spinner] */

all-songs mat-spinner svg {
    height: 20px !important;
    width: 20px !important;
}

all-songs .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #2c8dfb;
}

/* #endregion */
