/* You can add global styles to this file, and also import other style files */

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    direction: rtl;
}

/* #region(collapsed) [Material-icons] */

.material-icons, .mat-icon {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
    font-family: 'Material Icons';
}

/* #endregion */

/* #region(collapsed) [Scrollbar] */

::-webkit-scrollbar-thumb {
    width: 8px;
    height: auto;
    background-color: #fbc02d;
}

::-webkit-scrollbar {
    width: 8px;
    height: auto;
    background-color: whitesmoke;
}

/* #endregion */

/* #region(collapsed) [accordion] */

.search mat-label.ng-star-inserted {
    color: white;
}

.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float 
.mat-form-field-label {
    transform: translate(-14px, -1.5937em) scale(0.75);
}

.search .mat-input-element.mat-form-field-autofill-control {
    color: white;
}

.search .mat-form-field-appearance-outline 
.mat-form-field-outline-thick {
    color: rgb(255 255 255 / 87%);
}

.search .mat-form-field-appearance-outline 
.mat-form-field-outline {
    color: rgb(255 255 255 / 12%);
}

/* #endregion */

/* #region(collapsed) [Swiper-Slide] */

.swiper-pagination-bullet {
    display: inline-block;
    background: #000;
    opacity: .2;
    margin: 0 6px;
    width: 13px;
    height: 13px;
    border-radius: 50px;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background-color: #252525;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 4px;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}

/* #endregion */

/* #region(collapsed) [register-button] */

register button span {
    font-family: calibri;
    font-size: 17px;
    color: #525252;
}

/* #endregion */
