.wrap-latest-in-magazine {
    height: 1300px;
    background-color: white;
}

.wrap-latest-in-magazine.not-home {
    background-color: white;
}

button {
    margin-top: 20px;
}

.title-part {
    color: #252525;
}

.wrap-articles {
    padding: 20px 0;
}