<div class="wrap-main">
    <div class="tools">
        <div class="search-box">
            <input matInput placeholder="חפש...">
            <mat-icon matPrefix>search</mat-icon>
        </div>
        <button mat-icon-button matTooltip="הוסף למעקב שלי" matTooltipClass="blue-tooltip">
            <mat-icon>notifications</mat-icon>
        </button>
        <span>{{song.date | date: 'd/M/yyyy H:mm'}}</span>
    </div>
    <div class="wrap-video" [ngSwitch]="song.type">
        <mat-video *ngSwitchCase="'video'" [src]="'../../assets/songs/'+song.file_location" [keyboard]="false">
        </mat-video>
        <mat-video *ngSwitchCase="'audio'" [src]="'../../assets/songs/'+song.file_location" [keyboard]="false"
            [poster]="'../../assets/images/'+song.image_location"></mat-video>
    </div>
    <p>{{songContent}}</p>
    <tags [tagsList]="tags"></tags>
    <info [songId]="song.id" [viewsCnt]="song.count_views" [responsesCnt]="responses.length"
        [likesCnt]="song.count_like"></info>
    <responses type="song"></responses>
</div>
<!-- [responsesSongList]="responses" -->