<div class="wrap-main">
    <span>{{song.date | date: 'd/M/yyyy H:mm'}}</span>
    <div class="wrap-video" [ngSwitch]="song.type">
        <mat-video *ngSwitchCase="'video'" [src]="'../../assets/songs/'+song.file_location"></mat-video>
        <mat-video *ngSwitchCase="'audio'" [src]="'../../assets/songs/'+song.file_location" [poster]="'../../assets/images/'+song.image_location"></mat-video>
    </div>
    <p>{{songContent}}</p>
    <tags [tagsList]="tags"></tags>
    <info [songId]="song.id" [viewsCnt]="song.count_views" [responsesCnt]="responses.length" [likesCnt]="song.count_like"></info>
    <responses type="song" [responsesSongList]="responses"></responses>
</div>
