<div class="wrap-dialog">
    <h1 mat-dialog-title>הרשמה לאתר</h1>
    <mat-divider></mat-divider>
    <div mat-dialog-content>
        <p>גם אני רוצה להתעדכן בחדשות המוזיקה אונליין</p>
        <mat-icon>expand_more</mat-icon>

        <form [formGroup]='formRegister' (ngSubmit)='onSubmit()'>

            <mat-form-field>
                <mat-label>כתובת מייל</mat-label>
                <input placeholder="example@gmail.com" matInput formControlName='email'>
            </mat-form-field>

            <div mat-dialog-actions>
                <button mat-button (click)="onNoClick()">ביטול</button>
                <button mat-button [mat-dialog-close]="data.email" cdkFocusInitial type="submit">הירשם</button>
            </div>

        </form>
    </div>
</div>