<div class="wrap-editing-tag">
    <mat-vertical-stepper linear="true" #stepper dir="rtl">
        <mat-step [stepControl]="tagFormGroup">
            <form [formGroup]="tagFormGroup">
                <ng-template matStepLabel>בחר תגית</ng-template>
                <mat-form-field appearance="fill">
                    <mat-label>סוג תגית</mat-label>
                    <input type="text" matInput formControlName="tag" [matAutocomplete]="autoTags">
                    <mat-autocomplete autoActiveFirstOption #autoTags="matAutocomplete" (optionSelected)="saveSelectedTag($event.option.value)">
                        <mat-option *ngFor="let tag of filteredTags | async" [value]="tag.name">
                            <p>{{tag.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <div>
                    <button mat-button matStepperNext>הבא</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="nameFormGroup">
            <form [formGroup]="nameFormGroup">
                <ng-template matStepLabel>ערוך שם תגית</ng-template>
                <mat-form-field appearance="fill">
                    <input matInput placeholder="שם תגית" formControlName="name" required>
                    <mat-error *ngIf="nameFormGroup.controls.name.invalid">{{getNameErrorMessage()}}</mat-error>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>הקודם</button>
                    <button mat-button matStepperNext>הבא</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="typeFormGroup" *ngIf="isSongTag">
            <form [formGroup]="typeFormGroup">
                <ng-template matStepLabel>ערוך סוג תגית</ng-template>
                <mat-radio-group [(ngModel)]="typeTag" formControlName="option" (ngModelChange)="updatedType($event)">
                    <mat-radio-button value="song" color="primary" disabled>שיר</mat-radio-button>
                    <mat-radio-button value="article" color="primary" disabled>כתבה</mat-radio-button>
                </mat-radio-group>
                <mat-form-field appearance="fill" *ngIf="isSongTag">
                    <mat-label>סוג תגית</mat-label>
                    <input type="text" matInput formControlName="type" [matAutocomplete]="autoTypes">
                    <mat-autocomplete autoActiveFirstOption #autoTypes="matAutocomplete" (optionSelected)="saveSelectedType($event.option.value)">
                        <mat-option *ngFor="let type of filteredTypes | async" [value]="type.name">
                            <p>{{type.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>הקודם</button>
                    <button mat-button matStepperNext>הבא</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>שמירת שינויים</ng-template>
            <div class="wrap-actions">
                <button mat-stroked-button (click)="confirm()">שמור שינויים</button>
                <button mat-stroked-button (click)="stepper.reset()">אפס</button>
            </div>
            <div>
                <button mat-button matStepperPrevious>הקודם</button>
            </div>
        </mat-step>
    </mat-vertical-stepper>
</div>