<div #someVar>
  <mat-accordion *ngIf="commit.content!=null&&commit.content!=''">
    <mat-expansion-panel [expanded]="panelOpenState">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{commit.title}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>{{commit.content}}</p>
    </mat-expansion-panel>
    <span>{{commit.name}} • {{commit.date | date: 'd/M/yyyy'}}</span>
  </mat-accordion>

  <mat-accordion *ngIf="commit.content==null||commit.content==''">
    <mat-expansion-panel disabled>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{commit.title}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>{{commit.content}}</p>
    </mat-expansion-panel>
    <span>{{commit.name}} • {{commit.date | date: 'd/M/yyyy'}}</span>
  </mat-accordion>
</div>
<mat-divider></mat-divider>