p.f-title-section {
    padding-block: 10px 30px;
    font-family: assistant;
    color: #fbc02d;
    margin-block: 20px;
    text-align: center;
    border-radius: 4px;
    font-size: 18.5px;
}

.f-wrapper {
    padding-block: 30px;
    color: white;
    font-family: assistant;
    min-width: 20vw;
}

p span.content-title {
    transition: .4s;
}

.f-wrapper:hover span.content-title {
    margin-inline: 7px;
}