p.f-title-section {
    padding: 10px;
    font-family: assistant;
    border-bottom: solid 1px #fbc02d57;
    color: #fbc02d;
    margin-block: 20px;
    text-align: center;
}

.f-wrapper {
    padding-block: 30px;
    color: white;
    font-family: assistant;
}