.wrap-main-actions {
    padding: 80px 30px 55px 0;
    color: white;
    font-family: fb Joker, calibri;
    font-size: 21px;
}

.wrap-main-actions span {
    line-height: 31px;
}

.wrap-main-actions p {
    font-size: 23px;
    margin-bottom: 15px;
}

.wrap-main-actions a {
    font-size: 19px;
}