<div class="wrap-main-actions" [style.background-image]="'url(../../assets/images/for_topics/08312012-BOWERS-WILKINS-HEADPHONES-001edit.jpg)'">
    <div>
        <p>זמרים ויוצרים >></p>
        <span>{{message}}
            <br>
            דווחו לנו באתר במקום המיועד לכך או פנו אלינו למייל -
            <br>
            <a href="mailto:pniyot@musiconline.com?subject=דיווח">pniyot@musiconline.com</a>
        </span>
    </div>
    <div class="mini-logo">
        <img src="../../assets/images/logo-bsd-white.png">
        <div><p>מיוזיק אונליין</p> >> <span>בכל סגנון שתבחרו</span></div>
    </div>
</div>