<div class="wrap-main-actions">
    <span class="mini-title">רוצה להיות מעודכן בכל החדשות הכי טריות?</span>
    <p>הרשם לניוזלטר ></p>
    <mat-form-field appearance="fill">
        <input matInput placeholder="מייל" formControlName="mail" required>
        <button mat-icon-button matSuffix>
            <mat-icon>near_me</mat-icon>
        </button>
    </mat-form-field>
    <div class="message">
        <mat-icon>more_horiz</mat-icon>
        <br>
        <span class="">האתר מכבד זכויות יוצרים.<br>אם נתקלתם במקרה של הפרת זכויות, נא פנה אלינו במייל
            pniyot@musiconline.com ונסירו באופן מיידי.</span>
        <br>
        <mat-icon>more_horiz</mat-icon>
    </div>
    <!-- <button mat-flat-button>כנס לאיזור האישי</button> -->
</div>