.wrap-main-actions {
    padding: 80px 38px 55px;
    color: white;
    font-family: fb Joker, calibri;
    font-size: 21px;
    border-top: none;
    font-weight: 100;
    height: 100%;
    background-color: #252525;
    background-image: url(../../assets/images/for_topics/08312012-BOWERS-WILKINS-HEADPHONES-001edit.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: multiply;
    height: calc(100% + 80px);
}

.wrap-main-actions span {
    line-height: 31px;
}

.wrap-main-actions p {
    font-size: 23px;
    margin-bottom: 15px;
}

.wrap-main-actions a {
    font-size: 19px;
}