.wrap-container-side-nav {
    height: 100%;
    background-color: #101010;
    color: white;
    padding: 20px 0;
    display: grid;
    grid-template-rows: fit-content(40%) auto;
    transition: .4s;
    transform: translateX(95px); /*103*/
}

.open-menu {
    transform: translateX(0);
}

.close-nav {
    transform: translateX(170px);
}

.open-nav-button {
    transform: rotateZ(180deg);
}

.open-nav {
    background-color: #101010;
    transform: translateX(-63px);
}

.nav-content {
    display: flex;
    width: 100%;
}

.side-nav-items {
    margin: auto;
}

.side-nav-item {
    margin: 30px 0;
    display: grid;
    grid-template-columns: fit-content(40%) auto;
    width: 100%;
    padding: 8px 0;
    transition: .4s;
}
.side-nav-item .mat-icon{
margin: 0 20px;
}

.side-nav-item * {
    transition: .4s;
}

.close-menu-item {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0 0 4px #00000036;
}

.close-menu-item:hover {
    transform: translateX(-85px);
}

.side-nav-item:hover {
    background-color: #2c8dfb;
    padding: 8px 20px;

}
.side-nav-item:hover .mat-icon{
    margin: 0;
}

.side-nav-item:hover * {
    transform: translateX(10px);
}

.side-nav-item .mat-icon, button .mat-icon {
    font-size: 28px;
    width: fit-content;
}

.side-nav-item .mat-icon {
    height: fit-content;
}

.wrap-container-side-nav .mat-icon-button {
    width: 50px;
    height: 50px;
    color: #2c8dfb;
    transition: .4s;
    margin-left: 6px;
}

.wrap-container-side-nav .mat-icon-button:first-of-type:not(:only-child):hover {
    transform: rotateZ(90deg);
}

.open-menu .mat-icon-button:first-of-type:not(:only-child) {
    transform: rotateZ(45deg);
}

.open-menu .mat-icon-button:first-of-type:not(:only-child):hover {
    transform: rotateZ(135deg);
}

.open-menu .mat-icon-button:last-of-type:hover {
    transform: rotateZ(180deg);
}

.side-nav-item p {
    padding: 5px 15px;
    font-size: 17px;
    font-family: fb joker;
}

.open-nav {
    background-color: #101010;
    transform: translateX(-63px);
    height: fit-content;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}