<svg height="100%" width="100%" id="scroll-top" *ngIf="isShow" (click)="gotoTop()">
    <defs>
        <filter x="-6" y="-6" width="52" height="48" filterUnits="userSpaceOnUse" id="comp-k9ln36e7-shadow"
            color-interpolation-filters="sRGB">
            <feComponentTransfer result="srcRGB"></feComponentTransfer>
            <feGaussianBlur stdDeviation="2" in="SourceAlpha"></feGaussianBlur>
            <feOffset dx="1" dy="1"></feOffset>
            <feColorMatrix type="matrix" values="0 0 0 0 0
         0 0 0 0 0
         0 0 0 0 0
         0 0 0 0.6 0"></feColorMatrix>
            <feMerge>
                <feMergeNode></feMergeNode>
                <feMergeNode in="SourceGraphic"></feMergeNode>
            </feMerge>
            <feComponentTransfer></feComponentTransfer>
        </filter>
    </defs>
    <g filter="url(#comp-k9ln36e7-shadow)">
        <svg preserveAspectRatio="xMidYMid meet" id="comp-k9ln36e7svgcontent" data-bbox="24 33 152.001 134"
            viewBox="24 33 152.001 134" height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" data-type="shape"
            role="img" aria-labelledby="comp-k9ln36e7-svgtitle">
            <title id="comp-k9ln36e7-svgtitle"></title>
            <g>
                <path
                    d="M159.621 121.057L109.217 38.8c-4.726-7.737-16.025-7.732-20.745.009L26.236 140.885c-7.475 12.26 5.093 26.906 18.453 21.504l100.386-40.592c9.257-3.675 14.546-.74 14.546-.74z">
                </path>
                <path
                    d="M173.822 144.873l-4.835-7.931c-3.723-6.107-11.357-8.624-18.015-5.94l-43.744 17.637 49.153 17.467c12.971 4.609 24.58-9.524 17.441-21.233z">
                </path>
            </g>
        </svg>

    </g>
</svg>