#scroll-top {
    position: fixed;
    bottom: 50px;
    left: 48px;
    text-align: center;
    outline: none;
    border: none;
    z-index: 99;
    height: 50px;
    width: 50px;
    transition: ease 0.4s;
    padding: 4px;
    background-color: #252525;
    color: white;
    border: solid 2px white !important;
}

button#scroll-top:hover mat-icon {
    transform: rotateZ(-90deg);
}

button#scroll-top mat-icon {
    transition: .4s;
}