.wrap-songs-list {
    display: grid;
}

.wrap-songs {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 11vw;
    padding: 0px 3vw;
    border-right: solid 1px #eaeaea;
    border-left: solid 1px #eaeaea;
    min-height: 2016px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    width: 100%;
}

.wrap-song {
    display: inline-block;
    flex: 0 1 calc(25% - 26px);
    margin: 25px 12px;
}

mat-spinner {
    height: 20px !important;
    width: 20px !important;
    margin-left: 10px;
    display: none;
}

.loading mat-spinner {
    display: inline-block !important;
}

div.under-song {
    padding: 6px;
    color: #000000c7;
    font-family: assistant, calibri;
    font-size: 17px;
}

div.under-song p {
    font-weight: bold;
}

div.under-song p span {
    font-weight: 400;
    font-size: 17px;
}

div.empty {
    display: none;
}

span {
    margin: 50px auto 70px;
    font-family: fb Joker;
    font-family: assistant;
    font-size: 19px;
}