.wrap-songs-list {
    display: grid;
}

.wrap-songs {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 17vw;
}

.wrap-song {
    display: inline-block;
    flex: 0 1 calc(33% - 25px);
    margin: 25px 12px;
}

mat-spinner {
    height: 20px !important;
    width: 20px !important;
    margin-left: 10px;
    display: none;
}

.loading mat-spinner {
    display: inline-block !important;
}

div.empty {
    display: none;
}

span {
    margin: 50px auto 70px;
    font-family: fb Joker;
    font-size: 21px;
}