<div class="wrap-songs-list">
  <browse-pages [itemsCount]="songsList.length" [itemsToPage]="songsToPage"></browse-pages>
  <div class="wrap-songs">
    <div class="wrapper">
      <div class="wrap-song" *ngFor="let item of items">
        <song [song]="item" *ngIf="item!=null"></song>
        <div class="under-song">
          <p>{{item.name}}<span> » {{item.singerName}}</span></p>
        </div>
      </div>
      <span *ngIf="songsList==null||songsList.length==0">- לא נמצאו שירים בסינון הנוכחי -</span>
    </div>
  </div>
  <browse-pages [itemsCount]="songsList.length" [itemsToPage]="songsToPage"></browse-pages>
</div>