.wrap-small-slogen {
    padding: 10px;
    display: flex;
    background-color: #1d1d1d;
}

.wrap-small-slogen img {
    height: 150px;
    margin: auto auto auto 10px;
}

.wrap-slogen {
    color: white;
    margin: auto 10px auto auto;
    height: fit-content;
}

.wrap-slogen p {
    font-family: fb Ogen;
    font-size: 29px;
}

.wrap-slogen span {
    letter-spacing: 4px;
    font-family: calibri;
    font-weight: 100;
    font-size: 24px;
}