.wrap-list {
    margin: 50px 11vw 65px;
    font-family: assistant;
    font-size: 19px;
}

a {
    display: inline-flex;
    cursor: pointer;
}

a mat-icon {
    color: #d4d4d4;
    margin: 0 5px;
}

a:last-of-type mat-icon {
    display: none;
}

a:last-of-type {
    color: #0d8ac3;
}