.wrap-list {
    margin: 40px 8vw 0;
    font-family: fb Joker, calibri;
    font-size: 21px;
}

a {
    display: inline-flex;
    cursor: pointer;
}

a mat-icon {
    color: #d4d4d4;
    margin: 0 5px;
}

a:last-of-type mat-icon {
    display: none;
}

a:last-of-type {
    color: #0d8ac3;
}