.wrap-small-song {
    padding: 10px 0 25px 20px;
    display: flex;
}

.wrap-small-song:hover .img {
    background-position: top;
}

.img {
    height: 90px;
    width: 150px;
    background-color: aliceblue;
    background-position: center;
    background-size: cover;
    transition: .4s;
}

.above {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.226);
    transition: .4s;
    display: flex;
}

.above mat-icon {
    margin: auto;
    color: #ffffffb3;
    font-size: 38px;
    height: fit-content;
    width: fit-content;
    transition: .4s;
}

.wrap-small-song:hover .above mat-icon {
    color: white;
}

.wrap-small-song:hover .above {
    background-color: rgba(0, 0, 0, 0.048);
}

.info {
    padding: 0 35px 0 20px;
    color: white;
    font-family: fb Joker;
    font-size: 21px;
    width: 280px;
    line-height: 20px;
    font-weight: 100;
}

.info p {
    padding: 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.info span {
    padding: 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-family: fb Ogen;
    color: #fbc02d;
}