<div class="wrap-adding-artist">
    <mini-title text="מחיקת פריט"></mini-title>

    <mat-form-field appearance="fill">
        <mat-label>בחר סוג פריט</mat-label>
        <mat-select>
            <mat-option *ngFor="let item of itemTypes" [value]="item" [formControl]="type" (onSelectionChange)="selectItemType(item)">{{item}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>בחר פריט</mat-label>
        <mat-select [disabled]="itemList.length==0">
            <mat-option *ngFor="let item of itemList" [value]="item.name" [formControl]="item" (onSelectionChange)="selectItem(item.id)">{{item.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-stroked-button (click)="openMessageDialog('האם אתה בטוח שברצונך למחוק פריט זה?')">
        <mat-icon>playlist_add</mat-icon>מחק
    </button>

</div>