<div class="wrap-parade-body">
    <div class="wrapper">
        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel [expanded]="panelOpenState1">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        שיר השנה
                    </mat-panel-title>
                    <mat-panel-description>
                        בחרו את עשרת השירים שעשו לכם את השנה »
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <parade-song-of-the-year *ngIf="!votedYearSong" (onSelect)="updateSongSelection($event)"></parade-song-of-the-year>
                <p *ngIf="votedYearSong">תודה על הצבעתך לשיר השנה.</p>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="panelOpenState2">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        זמר השנה
                    </mat-panel-title>
                    <mat-panel-description>
                        בחרו את זמר השנה שלכם »
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <parade-singer-of-the-year *ngIf="!votedYearSinger" (onSelect)="updateSingerSelection($event)"></parade-singer-of-the-year>
                <p *ngIf="votedYearSinger">תודה על הצבעתך לזמר השנה.</p>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <div class="summary">
        <div class="sec" [class.possible]="selectedYearSong" [class.voted]="votedYearSong">
            <p>{{yearSongMessage}}</p>
            <button mat-flat-button [disabled]="!selectedYearSong" (click)="sendYearSongVoting()">הצבע</button>
        </div>
        <mat-divider></mat-divider>
        <div class="sec" [class.possible]="selectedYearSinger" [class.voted]="votedYearSinger">
            <p>{{yearSingerMessage}}</p>
            <button mat-flat-button [disabled]="!selectedYearSinger" (click)="sendYearSingerVoting()">הצבע</button>
        </div>
    </div>
</div>