<div class="warp-editing-artist">
    <mat-vertical-stepper linear="true" #stepper dir="rtl">
        <mat-step [stepControl]="selectArtist">
            <form [formGroup]="selectArtist">
                <ng-template matStepLabel>בחר אומן</ng-template>
                <mat-form-field appearance="fill">
                    <mat-label>בחירת אומנים</mat-label>
                    <mat-select formControlName="artist">
                        <mat-option #matOption *ngFor="let artist of artistsList" (onSelectionChange)="selectingArtist(artist)" [value]="artist.name">{{artist.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <div>
                    <button mat-button matStepperNext>הבא</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="editArtist">
            <form [formGroup]="editArtist">
                <ng-template matStepLabel>שנה פרטי אומן</ng-template>
                <mat-form-field appearance="fill">
                    <input matInput placeholder="שם אומן" formControlName="name">
                    <mat-error *ngIf="editArtist.controls.name.invalid">{{getNameErrorMessage()}}</mat-error>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>הקודם</button>
                    <button mat-button matStepperNext>הבא</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <form>
                <ng-template matStepLadel>אישור שינויים</ng-template>
                <button mat-stroked-button type="submit" (click)="onSubmit()"><mat-icon>playlist_add</mat-icon>אשר</button>
                <div>
                    <button mat-button matStepperPrevious>הקודם</button>
                    <button mat-button (click)="stepper.reset()">אפס</button>
                </div>
            </form>
        </mat-step>
    </mat-vertical-stepper>
</div>