<a class="wrap-latest-article" [class.vertical]="vertical" [href]="'magazine/article?articleId='+article.id">
    <div class="wrap-image" [style.background-image]="'url(../../assets/images/'+article.image+')'"></div>
    <div class="wrap-info">
        <p>{{article.title}}</p>
        <div class="footer">
            <span>{{article.date | date: 'd/M/yyyy H:mm'}}</span>
            <span>
                {{article.count_like}}
                <button mat-icon-button><mat-icon matTooltipClass="blue-tooltip tooltip" matTooltip="לייק"
                    (click)="sign($event)" (mouseenter)="marking($event,'#F44336')" (mouseleave)="reset_marking($event,'#F44336')">favorite_border</mat-icon></button>
            </span>
        </div>
    </div>
</a>
