<div [class.open-menu]="open" [class.close-nav]="!show" class="wrap-side-nav" *ngIf="navigateStr!='שגיאה'">
    <button [matTooltip]="open ? 'סגור' : 'הרחב'"
            matTooltipClass="blue-tooltip tooltip"
            mat-icon-button
            (click)="open_menu($event)">
        <mat-icon>add</mat-icon>
    </button>
    <div class="nav-content">
        <div class="side-nav-items">
            <a [class.close-menu-item]="!open" class="side-nav-item" *ngFor="let topic of topics"
            [href]="topic.href">
                <mat-icon>{{topic.icon}}</mat-icon>
                <p>{{topic.title}}</p>
            </a>
        </div>
    </div>
    <div [class.open-nav]="!show">
        <button [matTooltip]="show ? 'הסתר תפריט' : 'הצג תפריט'"
            matTooltipClass="blue-tooltip tooltip" mat-icon-button
            (click)="close_nav($event)" [class.open-nav-button]="!show">
            <mat-icon>chevron_right</mat-icon>
        </button>
    </div>
</div>