<div class="wrap-uploading-song">
    <p class="title-section">העלאת שיר >></p>
    <form [formGroup]="uploadSong" (ngSubmit)="onSubmit()">
        <!-- name -->
        <mat-form-field appearance="fill">
            <input matInput placeholder="שם שיר" formControlName="name">
            <mat-error *ngIf="uploadSong.controls.name.invalid">{{getNameErrorMessage()}}</mat-error>
        </mat-form-field>
        <!-- singer -->
        <mat-form-field appearance="fill">
            <mat-label>בחירת זמרים</mat-label>
            <mat-select formControlName="singers" multiple>
                <mat-option *ngFor="let singer of singers" [value]="singer.name">{{singer.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="uploadSong.controls.singers.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <!-- title -->
        <mat-form-field appearance="fill">
            <input matInput placeholder="כותרת" formControlName="title">
            <mat-error *ngIf="uploadSong.controls.title.invalid">{{getTitleErrorMessage()}}</mat-error>
        </mat-form-field>
        <!-- subtitle -->
        <mat-form-field appearance="fill">
            <input matInput placeholder="כותרת משנה" formControlName="subtitle">
            <mat-error *ngIf="uploadSong.controls.subtitle.invalid">{{getSubtitleErrorMessage()}}</mat-error>
        </mat-form-field>
        <!-- image -->
        <uploading-image (onSelect)="selectImage($event)" [image]="image"></uploading-image>
        <!-- song -->
        <uploading-audio-video-file (onSelect)="selectSong($event)" [song]="song"></uploading-audio-video-file>
        <!-- content -->
        <!-- <editor></editor> -->
        <text-editor [text]="text"></text-editor>
        <div *ngIf="artistsWithJobs.length>0">
            <p *ngFor="let artistWithJob of artistsWithJobs">{{artistWithJob.artistName}} - {{artistWithJob.jobName}}</p>
        </div>
        <!-- artists -->
        <mat-form-field appearance="fill">
            <mat-label>בחירת אומנים</mat-label>
            <mat-select formControlName="artists">()
                <mat-option #matOption *ngFor="let artist of artists" (onSelectionChange)="selectArtist(artist.name)" [value]="artist.name">{{artist.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <!-- jobs -->
        <mat-form-field appearance="fill">
            <mat-label>בחירת תפקיד לאומן</mat-label>
            <mat-select formControlName="job" [disabled]="selectedArtist==false">
                <mat-option #matOption *ngFor="let job of jobs" name="job" [value]="job.name" (onSelectionChange)="selectJob(job.name)">{{job.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <!-- tags -->
        <mat-form-field appearance="fill">
            <mat-label>בחירת תגיות</mat-label>
            <mat-select formControlName="tags" multiple>
                <mat-option *ngFor="let tag of tags" [value]="tag.name">{{tag.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="uploadSong.controls.tags.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <!-- is performance -->
        <mat-checkbox color="warn" (change)="isPerformance=!isPerformance">הופעה</mat-checkbox>
        <!-- upload button -->
        <button mat-stroked-button *ngIf="isEdit==false">
            <mat-icon>publish</mat-icon>העלאה
        </button>
        <!-- edit song button -->
        <button mat-stroked-button (click)="isEdit=true" *ngIf="isEdit==false">
            <mat-icon>edit</mat-icon>עריכת שיר
        </button>
        <!-- songs for editing -->
        <mat-form-field appearance="fill" *ngIf="isEdit==true" class="ltr">
            <mat-label>בחר שיר</mat-label>
            <input type="text" matInput [formControl]="songControl" [matAutocomplete]="autoSong">
            <mat-icon matPrefix>arrow_drop_down</mat-icon>
            <mat-autocomplete autoActiveFirstOption #autoSong="matAutocomplete" (optionSelected)="onSelectionChange($event)">
                <mat-option *ngFor="let song of songs" [value]="song.name">
                    <p>{{song.name}}</p>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <div class="wrap-buttons" *ngIf="isEdit==true">
            <!-- confirm editing button -->
            <button mat-stroked-button><mat-icon>check</mat-icon>שמור שינויים</button>
            <!-- cancel editing button -->
            <button mat-stroked-button (click)="isEdit=false;reset();"><mat-icon>cancel</mat-icon>בטל</button>
        </div>
    </form>
</div>