.wrap-container {
    width: 100%;
    display: grid;
    grid-template-rows: fit-content(40%)
        fit-content(40%) auto fit-content(40%);
    height: 100%;
    grid-template-columns: repeat(13, 1fr);
}

header {
    grid-area: 1 / 1 / 2 / 14;
}

nav {
    grid-area: 2 / 1 / 3 / 14;
}

content {
    grid-area: 3 / 1 / 4 / 14;
}

footer {
    grid-area: 4 / 1 / 5 / 14;
}

side-nav {
    position: fixed;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 999;
}