.wrap-performances-list {
    display: grid;
}

.wrap-performances {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 11vw;
    padding: 0px 3vw;
    border-right: solid 1px #eaeaea;
    border-left: solid 1px #eaeaea;
    min-height: 2000px;
}

.wrapper {
    height: fit-content;
    width: 100%;
}

.wrap-performance {
    margin-block: 25px;
}