<div class="wrap-user-area-side">
    <profile-obj [name]="user.name" [mail]="user.mail" [img]="user.image"></profile-obj>
    <mat-accordion *ngFor="let info of userInfo">
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{getInfoName(info.name, info.list.length)}}
                </mat-panel-title>

            </mat-expansion-panel-header>
            <div class="no-items" *ngIf="info.list.length==0">לא קימים פריטים</div>
            <div class="wrap-item" *ngFor="let item of info.list">
                <div class="img" [style.background-image]="'url(../../assets/images/'+item.image+')'"></div>
                <div class="details">
                    <a [href]="getHref(info, item)">
                        <p>{{item.name}}</p>
                    </a>
                    <button style="margin-right: auto;" mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </div>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="openMessageDialog('האם אתה בטוח שברצונך להסיר פריט זה?', info, item)">
                        <mat-icon>delete</mat-icon>הסר
                    </button>
                </mat-menu>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>