.wrap-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 10px;
    border-radius: 4px;
    height: 125px;
    font-family: assistant;
    margin-block: 20px;
    border: solid 1px #0000002e;
    font-size: 17px;
    line-height: 26px;
    grid-column-gap: 20px;
    text-align: center;
}

.no-items {
    padding: 10px;
    border-radius: 4px;
    font-family: assistant;
    margin-block: 20px;
    border: solid 1px #0000002e;
    font-size: 17px;
    line-height: 26px;
    text-align: center;
}

.img {
    background-position: center;
    background-size: cover;
    background-color: #00000021;
    border: solid 1px #0000001a;
}

.mat-expansion-panel {
    margin-block: 15px;
}

.wrap-item p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.details {
    display: flex;
}