<div class="wrap-search  wrap-container">
    <div class="center-content">
        <p class="title-part">מחפשים משהו?</p>
        <div class="search-boxes">

            <mat-form-field appearance="outline">
                <mat-label>חפש שיר</mat-label>
                <input matInput>
                <mat-icon matPrefix>search</mat-icon>
              </mat-form-field>
    
              <mat-form-field appearance="outline">
                <mat-label>חפש זמר, אומן</mat-label>
                <input matInput>
                <mat-icon matPrefix>search</mat-icon>
              </mat-form-field>
    
              <mat-form-field appearance="outline">
                <mat-label>חפש סגנון</mat-label>
                <input matInput>
                <mat-icon matPrefix>search</mat-icon>
              </mat-form-field>

        </div>
    </div>
</div>
