<div class="wrap-search  wrap-container">
  <div class="center-content">
    <p class="title-part">מחפשים משהו?</p>
    <div class="search-boxes">

      <mat-form-field appearance="outline">
        <mat-label>שם שיר</mat-label>
        <input type="text" matInput [formControl]="songsControl" [matAutocomplete]="autoSongs">
        <mat-icon matPrefix>search</mat-icon>
        <mat-autocomplete autoActiveFirstOption #autoSongs="matAutocomplete">
          <mat-option *ngFor="let song of filteredSongs | async" [value]="song.name">
            <a [href]="'song/'+song.id">{{song.name}}</a>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>


      <mat-form-field appearance="outline">
        <mat-label>חפש זמר, אומן</mat-label>
        <input type="text" matInput [formControl]="artistsControl" [matAutocomplete]="autoArtists">
        <button mat-icon-button matPrefix>
          <mat-icon>search</mat-icon>
        </button>
        <mat-autocomplete autoActiveFirstOption #autoArtists="matAutocomplete">
          <mat-option *ngFor="let artist of filteredArtists | async" [value]="artist.name">
            <a [href]="'songs/filterByArtist/'+artist.name">{{artist.name}}</a>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>


      <mat-form-field appearance="outline">
        <mat-label>חפש סגנון</mat-label>
        <input type="text" matInput [formControl]="tagsControl" [matAutocomplete]="autoTags">
        <button mat-icon-button matPrefix>
          <mat-icon>search</mat-icon>
        </button>
        <mat-autocomplete autoActiveFirstOption #autoTags="matAutocomplete">
          <mat-option *ngFor="let tag of filteredTags | async" [value]="tag.name">
            <a [href]="'songs/filterByTag/'+tag.name">{{tag.name}}</a>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

    </div>
  </div>
</div>