<div class="wrap-songs-by-singer">
    <top img="../../assets/images/3782176.jpg" _title="חדש במוזיקה" subtitle="כל השירים והקליפים החדשים" icon="headset" isMain="true"></top>
    <current-nav [navs]="navs"></current-nav>
    <div class="wrap-tool-box"><tools searchBox="true" followUp="true" orderBy="true"></tools></div>
    <songs-list [songsList]="songsList"></songs-list>
    <div style="padding-bottom: 30px;">
        <latest-in-magazine></latest-in-magazine>
    </div>
    <popular-playlists></popular-playlists>
    <footer></footer>
</div>