.wrap-article {
    height: 275px;
    display: grid;
    grid-template-columns: fit-content(50%) auto;
    grid-column-gap: 30px;
    border: solid 1px #e6e5e5;
    border-radius: 4px;
    padding: 18px;
    transition: .4s;
    animation-duration: .6s;
    animation-timing-function: ease linear;
}

@keyframes bigger {
    from {
        transform: scale(0.85);
    }
    to {
        transform: scale(1);
    }
}

.wrapper {
    height: 100%;
    width: 360px;
    overflow: hidden;
}

div.img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    transition: .6s;
    background-color: #00000073;
    background-blend-mode: multiply;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.wrap-article:hover div.img {
    transform: scale(1.1);
    background-color: #00000031;
}

div.content {
    display: grid;
    font-family: assistant;
    font-size: 19px;
}

.content p {
    font-family: assistant;
    font-size: 19px;
    margin-bottom: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    line-height: 32px;
    font-weight: bold;
}

.content p span {
    font-weight: 400;
}

.content p > span:last-of-type {
    padding-top: 3px;
}

.content p > span:first-of-type {
    font-family: assistant;
    font-size: 18.5px;
    font-weight: 300;
    line-height: 45px;
}

.content div {
    margin-top: auto;
}