<a class="wrap-article" [href]="'magazine/article?articleId='+article.id">
    <div class="wrapper">
        <div class="img" [style.background-image]="'url(../../assets/images/'+article.main_image+')'"></div>
    </div>
    <div class="content">
        <p>{{article.title}}<br><span>{{article.date | date: 'd/M/yyyy H:mm'}} | {{article.dateHebrew}}</span><br>
        <span>{{article.subtitle}}</span></p>
        <div>
            <rating *ngIf="countRes!=null" [currentId]="article.id" [likes]="article.count_like" [views]="article.count_views"
                [commits]="countRes"></rating>
        </div>
    </div>
</a>