<div class="wrap-admin">
    <top _title="איזור מנהל" subtitle="הנהלת מיוזיק אונליין >>" icon="account_circle"></top>
    <tool-bar-without-menu></tool-bar-without-menu>
    <div class="wrap-admin-content">
        <!-- <admin-left-side></admin-left-side>
        <admin-center></admin-center>
        <admin-right-side></admin-right-side>
        <reports-board></reports-board>
        <commits-board></commits-board>
        <editing-newsletter></editing-newsletter> -->
        <router-outlet></router-outlet>
        <div class="wrap-actions">
            <button mat-flat-button routerLink="site-status" routerLinkActive="active">עבור ללוח הסטטוסים</button>
            <button mat-flat-button routerLink="content-management" routerLinkActive="active">עבור לניהול תוכן האתר</button>
        </div>
    </div>
    <footer></footer>
</div>