.wrap-admin-content {
    display: grid;
    grid-template-columns: fit-content(50%) fit-content(50%) auto;
    grid-gap: 75px;
    padding-top: 60px;
}

reports-board, commits-board, editing-newsletter {
    grid-column: 1 / 4;
}