.wrap-songs-in-playlist {
    padding: 30px 0;
}

.songs {
    padding: 30px 17vw;
}

.empty-list {
    text-align: center;
    padding: 50px;
    font-family: fb Joker;
    font-size: 21px;
}

/***************/
.example-list {
    width: 700px;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;

    margin: 0 auto;
    direction: ltr !important;
    text-align: center !important;
    background-color: #e8e8e8;
  }
  
  .example-box {
    padding: 20px 17px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-family: fb Joker;
    font-size: 21px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

/*******************/

button.mat-mini-fab {
    box-shadow: none;
    font-family: fb Joker;
    font-size: 19px;
}

.example-box p {
    font-weight: bold;
}

.example-box span {
    font-weight: 400;
}

button.mat-icon-button {
    margin: 0 7px;
}

button.mat-icon-button mat-icon {
    font-size: 21px;
}

.playing-now {
    width: 700px;
    padding: 20px;
    border-radius: 4px;
    border: solid 1px #ccc;
    margin: 0 auto 20px;
    font-family: fb Joker;
    font-size: 21px;
}

.content-current-song div {
    width: 40%;
    background-position: center;
    background-size: cover;
}