<div class="wrap-songs-in-playlist">
    <!-- <div *ngIf="songsList!=null&&songsList.length!=0" class="songs">
        <song-in-playlist *ngFor="let song of songsList" [song]="song"></song-in-playlist>
    </div> -->
    <div class="playing-now">
        <div><p>פועל כעת >></p></div>
        <div class="content-current-song">
            <div *ngIf="songsList!=null&&songsList.length!=0" [style.background-image]="'url(../../assets/images'+songsList[0].image_location+')'"></div>
        </div>
    </div>
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let song of songsList" cdkDrag>
            <div><a [href]="'song?songId='+song.id"><button mat-stroked-button color="warn">פתח</button></a>
            <button mat-icon-button><mat-icon>favorite_border</mat-icon></button></div>
            <p>{{song.name}}<span> >> איציק דדיה</span></p>
            <button mat-mini-fab color="warn" *ngIf="playingSongId!=song.id" (click)="playingSongId=song.id"><mat-icon>play_arrow</mat-icon></button>
            <button mat-mini-fab color="warn" *ngIf="playingSongId==song.id" (click)="playingSongId=(-1)"><mat-icon>pause</mat-icon></button>
        </div>
    </div>
    <div class="empty-list" *ngIf="songsList==null||songsList.length==0"><p>- לא נמצאו שירים בפלייליסט זה -</p></div>
</div>