<div class="wrap-crud-actions">
    <p class="title">ניהול תוכן האתר</p>
    <span class="explaination"><strong>בעת בחירת קטגוריה תוכל להוסיף, לערוך ולמחוק פריטים מהקטגוריה שנבחרה.</strong><br>
    שים לב - בעת הוספה, עריכה או מחיקת פריט לא יתאפשר מעבר לשלב הבא לפני ששדות החובה ימולאו כנדרש.</span>
    <mat-form-field appearance="fill">
        <mat-label>בחר קטגוריה</mat-label>
        <mat-select>
            <mat-option *ngFor="let category of categories" [value]="category.value" [routerLink]="getRouter(category.category)">
                {{category.value}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <router-outlet></router-outlet>
</div>