<div class="wrap-si-hot-articles">
    

    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide" >
                <div class="background-image-article" [style.background-image]="'url(../../assets/images/'+articles[0].main_image+')'">
                    <div class="content-article">
                        <p><a [href]="'article/'+articles[0].id">{{articles[0].title}}</a></p>
                        <span>{{articles[0].date | date: 'd/M/yyyy'}}</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="background-image-article" [style.background-image]="'url(../../assets/images/'+articles[1].main_image+')'">
                    <div class="content-article">
                        <p><a [href]="'article/'+articles[1].id">{{articles[1].title}}</a></p>
                        <span>{{articles[1].date | date: 'd/M/yyyy'}}</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="background-image-article" [style.background-image]="'url(../../assets/images/'+articles[2].main_image+')'">
                    <div class="content-article">
                        <p><a [href]="'article/'+articles[2].id">{{articles[2].title}}</a></p>
                        <span>{{articles[2].date | date: 'd/M/yyyy'}}</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="background-image-article" [style.background-image]="'url(../../assets/images/'+articles[3].main_image+')'">
                    <div class="content-article">
                        <p><a [href]="'article/'+articles[3].id">{{articles[3].title}}</a></p>
                        <span>{{articles[3].date | date: 'd/M/yyyy'}}</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="background-image-article" [style.background-image]="'url(../../assets/images/'+articles[4].main_image+')'">
                    <div class="content-article">
                        <p><a [href]="'article/'+articles[4].id">{{articles[4].title}}</a></p>
                        <span>{{articles[4].date | date: 'd/M/yyyy'}}</span>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- If we need pagination -->
        <!-- <div class="swiper-pagination"></div> -->
    
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    
    </div>

</div>
