<div class="wrap-manage-playlist">
    <!-- <mat-drawer-container class="example-container" autosize>
        <mat-drawer #drawer class="sidenav" mode="side" opened="true" position="end">
            <div class="wrap-side-nav-buttons">
                <button mat-flat-button (click)="activeAction=1" [class.active]="activeAction==1"><mat-icon>add</mat-icon>הוספה</button>
                <button mat-flat-button (click)="activeAction=2" [class.active]="activeAction==2"><mat-icon>edit</mat-icon>עריכה</button>
                <button mat-flat-button (click)="activeAction=3" [class.active]="activeAction==3"><mat-icon>delete</mat-icon>מחיקה</button>
            </div>
        </mat-drawer>

        <div class="sidenav-content" [ngSwitch]="activeAction">
            <adding-playlist *ngSwitchCase="1"></adding-playlist>
            <editing-playlist *ngSwitchCase="2"></editing-playlist>
            <deleting-playlist *ngSwitchDefault></deleting-playlist>
        </div>
    </mat-drawer-container> -->
    <p>הוספת פלייליסט</p>
    <adding-a-playlist></adding-a-playlist>
    <p>עריכת פלייליסט</p>
    <editing-playlist></editing-playlist>
    <p>מחיקת פלייליסט</p>
    <deleting-playlist></deleting-playlist>
</div>