.wrap-info-statement {
    padding: 20px;
    background-color: whitesmoke;
    margin: 10px 0;
    font-family: fb Joker;
    font-size: 21px;
    border-radius: 4px;
}

strong {
    color: tomato;
}