.wrap-actions {
    display: flex;
    direction: rtl;
    width: fit-content;
}

button.mat-flat-button {
    padding: 11px 17px;
    font-size: 21px;
    font-family: fb Joker, calibri;
    transform: translateY(-4px);
    margin-right: 15px;
}

button.mat-flat-button mat-icon {
    margin-left: 8px;
}

button.mat-fab {
    box-shadow: none !important;
    margin-right: 25px;
    background-color: #bfbfbfc2;
}