<div class="wrap-actions">
    <!-- <button *ngIf="!connected" mat-flat-button (click)="openLoginDialog()">
        <mat-icon>login</mat-icon>התחבר
    </button>
    <button *ngIf="connected" mat-flat-button (click)="openMessageDialog('האם אתה בטוח שברצונך להתנתק?')">
        <mat-icon>logout</mat-icon>התנתק
    </button> -->
    <button mat-fab color="warn" (click)="navigateToPA()">
        <mat-icon>person</mat-icon>
    </button>
    <!-- <mat-menu #menu="matMenu">
        <span (mouseenter)="isFocus(true)" (mouseleave)="isFocus(false)">
        <button mat-menu-item>פרופיל</button>
        <button mat-menu-item>הגדרות</button>
        <button mat-menu-item>איזור אישי</button></span>
    </mat-menu> -->
    <!--  [matMenuTriggerFor]="menu" -->
</div>