<div class="wrap-playlists">
   <tool-bar-without-menu></tool-bar-without-menu>
    <top [_title]="title" [subtitle]="subtitle"
        [icon]="icon" notBlur="true"></top>
    <current-nav [navs]="navs"></current-nav>
    <div *ngIf="playlists.length!=0&&playlists!=null" class="all-playlists">
        <div class="wrap-playlist" *ngFor="let playlist of playlists">
            <display-playlist [playlist]="playlist"></display-playlist>
        </div>
    </div>
    <div *ngIf="playlists.length==0||playlists==null" class="empty-list"><p>- לא נמצאו פלייליסטים -</p></div>
    <footer></footer>
</div>