|<div class="wrap-si-updating">
    <div class="updating-section">
        <p>אברהם פריד משחרר סינגל חדש - "אוטוטו" שיר שכולו כיסופין לגאולה</p>
        <span>לפני 3 שעות</span>
    </div>
    <mat-divider></mat-divider>
    <div class="updating-section">
        <p>גד אלבז מרגש בסינגל חדש: "אדון עולם"</p>
        <span>לפני יומיים</span>
    </div>
    <mat-divider></mat-divider>
    <div class="updating-section">
        <p>אבישי אשל בסינגל חדש ומרגש לימי הרחמים והסליחות: "מחילה"</p>
        <span>לפני שבוע</span>
    </div>
    <mat-divider></mat-divider>
    <div class="updating-section">
        <p>נפתחה ההצבעה למצעד שירי תש"פ • הצביעו והשפיעו</p>
        <span>לפני שבוע</span>
    </div>
    <mat-divider></mat-divider>
</div>